openapi: 3.1.0
info:
  title: New Relic Event Alerts Conditions API
  description: The New Relic Event API allows you to send custom event data to the New Relic platform via HTTP POST. Custom events submitted through this API can be queried and visualized using NRQL, making it suitable for tracking arbitrary business or application events. Each event is a JSON object with an eventType and any number of additional attribute key-value pairs.
  version: '1'
  contact:
    name: New Relic Support
    url: https://support.newrelic.com/
  termsOfService: https://newrelic.com/termsandconditions/terms
  x-last-validated: '2026-04-18'
servers:
- url: https://insights-collector.newrelic.com
  description: US Production
- url: https://insights-collector.eu01.nr-data.net
  description: EU Production
security:
- apiKey: []
tags:
- name: Conditions
paths:
  /alerts_conditions.json:
    get:
      tags:
      - Conditions
      summary: New Relic Get Alerts Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>


        <hr>


        <p>This API endpoint allows you to list APM Application and Key Transaction, Browser and Mobile application metric conditions for your alert policies.</p>


        <p>Note: <strong>Conditions for web transaction percentiles, or conditions targeting labels (dynamic targeting), are not available.</strong></p>


        <p>See our documentation for a discussion on <a href="https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/pagination-api-output" target="_blank">

        output pagination</a>.</p>

        '
      parameters:
      - name: policy_id
        in: query
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      - name: page
        in: query
        description: Pagination index
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          headers:
            link:
              description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page and `last` to the last page, unless this page is itself the last page.

                '
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Getalertsconditions200Example:
                  summary: Default getAlertsConditions 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Getalertsconditions200Example:
                  summary: Default getAlertsConditions 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getAlertsConditions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_conditions/policies/{policy_id}.json:
    post:
      tags:
      - Conditions
      summary: New Relic Post Alerts Conditions Policies
      description: "ðŸ”¥ðŸ”¥ New users should use <a href=\"https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/\">these docs about managing alerts via NerdGraph.</a>\n\n<p>This API endpoint allows you to create APM Application and Key Transaction, Browser and Mobile application metric conditions for your alert policies.</p>\n\n<p><strong>Conditions for web transaction percentiles, or conditions targeting labels (dynamic targeting), are not available.</strong></p>\n\n<p>Note: <a href=\"https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key\">Admin Userâ€™s API Key</a> is required.</p>\n\n<p>See our documentation for a discussion on <a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#conditions-create\" target=\"_blank\">creating conditions for policies</a>.\n<br /></p>\n\n<p>All fields are required except for â€œrunbook_urlâ€\x9D, â€œenabledâ€\x9D (defaults to false), â€œuser_definedâ€\x9D.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#type\" target=\"_blank\">type</a>: apm_app_metric, apm_kt_metric, servers_metric, browser_metric, mobile_metric.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#name\" target=\"_blank\">name</a>: A title for your condition.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#enabled\" target=\"_blank\">enabled</a>: The status of your condition (optional).</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#entities\" target=\"_blank\">entities</a>: An array of instances associated with your condition.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#metric\" target=\"_blank\">metric</a>: The metric field accepts parameters based on the condition <b>type</b> selected as follows:</p>\n\n<p>Â Â When <b>apm_app_metric</b>: apdex, error_percentage, response_time_web, response_time_background, throughput_web, throughput_background, user_defined.</p>\n\n<p>Â Â When <b>apm_kt_metric</b>: apdex, error_percentage, error_count, response_time, throughput.</p>\n\n<p>Â Â When <b>servers_metric</b>: cpu_percentage, disk_io_percentage, memory_percentage, fullest_disk_percentage, load_average_one_minute, user_defined.</p>\n\n<p>Â Â When <b>browser_metric</b>: end_user_apdex, total_page_load, page_rendering, web_application, network, dom_processing, request_queuing, ajax_response_time, page_views_with_js_errors, page_view_throughput, ajax_throughput, user_defined.</p>\n\n<p>Â Â When <b>mobile_metric</b>: database, images, json, network, view_loading, network_error_percentage, status_error_percentage, mobile_crash_rate, user_defined.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/rest-api-alerts/new-relic-alerts-rest-api/alerts-conditions-api-field-names#condition-scope\">condition_scope</a>: Set to either <code>instance</code> to target a Java application instance or <code>application</code> for a Java app.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/rest-api-alerts/new-relic-alerts-rest-api/alerts-conditions-api-field-names#violation_close_timer\">violation_close_timer</a> (in hours): 1, 2, 4, 8, 12, 24. Duration after which instance-based (including JVM health metric) violations will automatically close.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#runbook_url\" target=\"_blank\">runbook_url</a>: Runbook URL to display in notifications (optional).</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_duration\" target=\"_blank\">terms[duration]</a> (in minutes): 5, 10, 15, 30, 60, 120.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_operator\" target=\"_blank\">terms[operator]</a>: above, below, equal.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_priority\" target=\"_blank\">terms[priority]</a>: critical, warning.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_threshold\" target=\"_blank\">terms[threshold]</a>: Must be 0 or greater.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_time_function\" target=\"_blank\">terms[time_function]</a>: all, any.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#user_defined_metric\" target=\"_blank\">user_defined[metric]</a>: A custom metric to be evaluated.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#user_defined_value_function\" target=\"_blank\">user_defined[value_function]</a>: average, min, max, total, sample_size.</p>\n\n"
      parameters:
      - name: policy_id
        in: path
        description: Alerts policy
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Condition'
            examples:
              PostalertsconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    metric: example_value
                    name: Example Title
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
          application/xml:
            schema:
              $ref: '#/components/schemas/Condition'
            examples:
              PostalertsconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    metric: example_value
                    name: Example Title
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Postalertsconditionspoliciespolicyid200Example:
                  summary: Default postAlertsConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Postalertsconditionspoliciespolicyid200Example:
                  summary: Default postAlertsConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-codegen-request-body-name: condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsConditionsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_conditions/{condition_id}.json:
    put:
      tags:
      - Conditions
      summary: New Relic Put Alerts Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>


        <p>This API endpoint allows you to update APM Application and Key Transaction, Browser and Mobile application metric conditions for your alert policies.</p>


        <p><strong>Conditions for web transaction percentiles, or conditions targeting labels (dynamic targeting), are not available.</strong></p>


        <p>Note: <a href="https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key">Admin Userâ€™s API Key</a> is required.</p>


        <p>See Alerts Conditions &gt; Create for an explanation of the field values or the online

        documentation on <a href="https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#conditions-update" target="_blank">updating conditions for policies</a>.</p>


        '
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition to update
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Condition'
            examples:
              PutalertsconditionsconditionidRequestExample:
                summary: Default putAlertsConditionsConditionId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    metric: example_value
                    name: Example Title
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
          application/xml:
            schema:
              $ref: '#/components/schemas/Condition'
            examples:
              PutalertsconditionsconditionidRequestExample:
                summary: Default putAlertsConditionsConditionId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    metric: example_value
                    name: Example Title
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Putalertsconditionsconditionid200Example:
                  summary: Default putAlertsConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Putalertsconditionsconditionid200Example:
                  summary: Default putAlertsConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-codegen-request-body-name: condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: putAlertsConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Conditions
      summary: New Relic Delete Alerts Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>


        <hr>


        <p>This API endpoint allows you to delete APM Application and Key Transaction, Browser and Mobile application metric conditions for your alert policies.</p>


        <p><strong>Conditions for web transaction percentiles, or conditions targeting labels (dynamic targeting), are not available.</strong></p>


        <p>Note: <a href="https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key">Admin Userâ€™s API Key</a> is required.</p>


        <p>See our documentation for a discussion on <a href="https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#conditions-delete" target="_blank">deleting conditions</a>.</p>

        '
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition ID
        required: true
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Deletealertsconditionsconditionid200Example:
                  summary: Default deleteAlertsConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Deletealertsconditionsconditionid200Example:
                  summary: Default deleteAlertsConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: deleteAlertsConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_entity_conditions/{entity_id}.json:
    get:
      tags:
      - Conditions
      summary: New Relic Get Alerts Entity Conditions Entity
      description: 'ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>


        <hr>


        <p>This API endpoint allows you to list the Alerts conditions an entity is part of.</p>


        <p>Entity type options (Synthetics is not yet supported):</p>


        <pre><code>BrowserApplication


        Application


        MobileApplication


        Server


        KeyTransaction

        </code></pre>

        '
      parameters:
      - name: entity_id
        in: path
        description: Entity ID
        required: true
        schema:
          type: integer
        example: 100
      - name: entity_type
        in: query
        description: Entity Type
        required: true
        schema:
          type: string
        example: standard
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Getalertsentityconditionsentityid200Example:
                  summary: Default getAlertsEntityConditionsEntityId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Getalertsentityconditionsentityid200Example:
                  summary: Default getAlertsEntityConditionsEntityId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getAlertsEntityConditionsEntityId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Conditions
      summary: New Relic Put Alerts Entity Conditions Entity
      description: "ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to <a href=\"https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/\">these docs about managing alerts via NerdGraph.</a>\n\n<hr>\n\n<p>This API endpoint allows you to add an entity to a specified Alerts condition.</p>\n\n<p>Note: <a href=\"https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key\">Admin Userâ€™s API Key</a> is required.\n<br />\n  Entity type options (Synthetics is not yet supported):</p>\n\n<pre><code>BrowserApplication\n\nApplication\n\nMobileApplication\n\nServer\n\nKeyTransaction\n</code></pre>\n"
      parameters:
      - name: entity_id
        in: path
        description: Entity to add
        required: true
        schema:
          type: integer
        example: 100
      - name: entity_type
        in: query
        description: Entity Type
        required: true
        schema:
          type: string
        example: standard
      - name: condition_id
        in: query
        description: Alerts condition ID
        required: true
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Putalertsentityconditionsentityid200Example:
                  summary: Default putAlertsEntityConditionsEntityId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Putalertsentityconditionsentityid200Example:
                  summary: Default putAlertsEntityConditionsEntityId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: putAlertsEntityConditionsEntityId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Conditions
      summary: New Relic Delete Alerts Entity Conditions Entity
      description: 'ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>


        <hr>


        <p>This API endpoint allows you to disassociate an entity with a specified Alerts condition.</p>


        <p>Note: <a href="https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key">Admin Userâ€™s API Key</a> is required.</p>


        <p>Entity type options (Synthetics is not yet supported):</p>


        <pre><code>BrowserApplication


        Application


        MobileApplication


        Server


        KeyTransaction

        </code></pre>

        '
      parameters:
      - name: entity_id
        in: path
        description: Entity to remove
        required: true
        schema:
          type: integer
        example: 100
      - name: entity_type
        in: query
        description: Entity Type
        required: true
        schema:
          type: string
        example: standard
      - name: condition_id
        in: query
        description: Alerts condition ID
        required: true
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Deletealertsentityconditionsentityid200Example:
                  summary: Default deleteAlertsEntityConditionsEntityId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Deletealertsentityconditionsentityid200Example:
                  summary: Default deleteAlertsEntityConditionsEntityId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: deleteAlertsEntityConditionsEntityId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_external_service_conditions.json:
    get:
      tags:
      - Conditions
      summary: New Relic Get Alerts External Service Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>


        <hr>


        <p>This API endpoint allows you to list the external service conditions for your alert policy.</p>


        <p>See our documentation for a discussion on

        <a href="https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/pagination-api-output" target="_blank"> output pagination</a>.</p>

        '
      parameters:
      - name: policy_id
        in: query
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      - name: page
        in: query
        description: Pagination index
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          headers:
            link:
              description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page and `last` to the last page, unless this page is itself the last page.

                '
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Getalertsexternalserviceconditions200Example:
                  summary: Default getAlertsExternalServiceConditions 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Getalertsexternalserviceconditions200Example:
                  summary: Default getAlertsExternalServiceConditions 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getAlertsExternalServiceConditions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_external_service_conditions/policies/{policy_id}.json:
    post:
      tags:
      - Conditions
      summary: New Relic Post Alerts External Service Conditions Policies
      description: "ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to <a href=\"https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/\">these docs about managing alerts via NerdGraph.</a>\n\n<p>This API endpoint allows you to create external service conditions for your alert policies.</p>\n\n<p>Note: <a href=\"https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key\">Admin Userâ€™s API Key</a> is required.</p>\n\n<p>See our documentation for a discussion on <a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#ext-conditions-create\" target=\"_blank\">creating conditions for external services</a>.</p>\n\n<p>All fields are required except for â€œrunbook_urlâ€\x9D, â€œenabledâ€\x9D (defaults to false).</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#type\" target=\"_blank\">type</a>: apm_external_service, mobile_external_service.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#name\" target=\"_blank\">name</a>: A title for your condition.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#enabled\" target=\"_blank\">enabled</a>: The status of your condition (optional).</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#entities\" target=\"_blank\">entities</a>: An array of instance IDs associated with your condition.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#external_service_url\" target=\"_blank\">external_service_url</a>: The URL of the external service. Must not include protocol (â€œexample.comâ€\x9D, not â€œhttps://example.comâ€\x9D)</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#metric\" target=\"_blank\">metric</a>: The metric field accepts parameters based on the condition <b>type</b> selected as follows:</p>\n\n<p>Â Â When <b>apm_external_service</b>: response_time_average, response_time_minimum, response_time_maximum, throughput.</p>\n\n<p>Â Â When <b>mobile_external_service</b>: response_time_average, response_time_minimum, response_time_maximum, throughput, network_failure_percentage, http_status_error_percentage.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#runbook_url\" target=\"_blank\">runbook_url</a>: Runbook URL to display in notifications (optional).</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_duration\" target=\"_blank\">terms[duration]</a> (in minutes): 5, 10, 15, 30, 60, 120.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_operator\" target=\"_blank\">terms[operator]</a>: above, below, equal.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_priority\" target=\"_blank\">terms[priority]</a>: critical, warning.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_threshold\" target=\"_blank\">terms[threshold]</a>: Must be 0 or greater.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_time_function\" target=\"_blank\">terms[time_function]</a>: all, any.</p>\n\n"
      parameters:
      - name: policy_id
        in: path
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalServiceCondition'
            examples:
              PostalertsexternalserviceconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsExternalServiceConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  external_service_condition:
                    enabled: true
                    entities:
                    - {}
                    external_service_url: https://www.example.com
                    metric: example_value
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    type: example_value
          application/xml:
            schema:
              $ref: '#/components/schemas/ExternalServiceCondition'
            examples:
              PostalertsexternalserviceconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsExternalServiceConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  external_service_condition:
                    enabled: true
                    entities:
                    - {}
                    external_service_url: https://www.example.com
                    metric: example_value
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    type: example_value
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Postalertsexternalserviceconditionspoliciespolicyid200Example:
                  summary: Default postAlertsExternalServiceConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Postalertsexternalserviceconditionspoliciespolicyid200Example:
                  summary: Default postAlertsExternalServiceConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
      x-codegen-request-body-name: external_service_condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsExternalServiceConditionsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_external_service_conditions/{condition_id}.json:
    put:
      tags:
      - Conditions
      summary: New Relic Put Alerts External Service Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>


        <hr>


        <p>This API endpoint allows you to update external service conditions for your alert policies.</p>


        <p>Note: <a href="https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key">Admin Userâ€™s API Key</a> is required.</p>


        <p>See Alerts External Service Conditions &gt; Create for an explanation of the field values used in this command or the online documentation on

        <a href="https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#ext-conditions-update" target="_blank">updating conditions for external services</a>.</p>

        '
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition to update
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalServiceCondition'
            examples:
              PutalertsexternalserviceconditionsconditionidRequestExample:
                summary: Default putAlertsExternalServiceConditionsConditionId request
                x-microcks-default: true
                value:
                  external_service_condition:
                    enabled: true
                    entities:
                    - {}
                    external_service_url: https://www.example.com
                    metric: example_value
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    type: example_value
          application/xml:
            schema:
              $ref: '#/components/schemas/ExternalServiceCondition'
            examples:
              PutalertsexternalserviceconditionsconditionidRequestExample:
                summary: Default putAlertsExternalServiceConditionsConditionId request
                x-microcks-default: true
                value:
                  external_service_condition:
                    enabled: true
                    entities:
                    - {}
                    external_service_url: https://www.example.com
                    metric: example_value
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    type: example_value
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Putalertsexternalserviceconditionsconditionid200Example:
                  summary: Default putAlertsExternalServiceConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Putalertsexternalserviceconditionsconditionid200Example:
                  summary: Default putAlertsExternalServiceConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
      x-codegen-request-body-name: external_service_condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: putAlertsExternalServiceConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Conditions
      summary: New Relic Delete Alerts External Service Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>


        <p>This API endpoint allows you to delete external service conditions associated with your alert policy.</p>


        <p>Note: <a href="https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key">Admin Userâ€™s API Key</a> is required.</p>


        <p>See our documentation for a discussion on <a href="https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#ext-conditions-delete" target="_blank">deleting External services conditions</a>.</p>


        '
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition ID
        required: true
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Deletealertsexternalserviceconditionsconditionid200Example:
                  summary: Default deleteAlertsExternalServiceConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Deletealertsexternalserviceconditionsconditionid200Example:
                  summary: Default deleteAlertsExternalServiceConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: deleteAlertsExternalServiceConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_location_failure_conditions/policies/{policy_id}.json:
    get:
      tags:
      - Conditions
      summary: New Relic Get Alerts Location Failure Conditions Policies
      description: '<strong>ðŸ”¥ This endpoint will be deprecated after 2024/01 ðŸ”¥</strong> New users should use <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>


        <hr>


        <p>This API endpoint allows you to list the alerts location failure conditions for your Alerts policy.</p>

        '
      parameters:
      - name: policy_id
        in: path
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      - name: page
        in: query
        description: Pagination index
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          headers:
            link:
              description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page and `last` to the last page, unless this page is itself the last page.

                '
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConditionResponse'
              examples:
                Getalertslocationfailureconditionspoliciespolicyid200Example:
                  summary: Default getAlertsLocationFailureConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                  - condition: {}
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConditionResponse'
              examples:
                Getalertslocationfailureconditionspoliciespolicyid200Example:
                  summary: Default getAlertsLocationFailureConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                  - condition: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getAlertsLocationFailureConditionsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Conditions
      summary: New Relic Post Alerts Location Failure Conditions Policies
      description: '<strong>ðŸ”¥ This endpoint will be deprecated after 2024/01 ðŸ”¥</strong> New users should use <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>


        <hr>


        <p>This API endpoint allows you to create the alerts location failure conditions for your Alerts policy.</p>

        '
      parameters:
      - name: policy_id
        in: path
        description: Alerts policy failure condition
        required: true
        schema:
          type: integer
        example: 100
      - name: location_failure_condition
        in: path
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConditionResponse'
            examples:
              PostalertslocationfailureconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsLocationFailureConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    id: abc123
                    metric: example_value
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
          application/xml:
            schema:
              $ref: '#/components/schemas/ConditionResponse'
            examples:
              PostalertslocationfailureconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsLocationFailureConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    id: abc123
                    metric: example_value
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Postalertslocationfailureconditionspoliciespolicyid200Example:
                  summary: Default postAlertsLocationFailureConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Postalertslocationfailureconditionspoliciespolicyid200Example:
                  summary: Default postAlertsLocationFailureConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-codegen-request-body-name: condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsLocationFailureConditionsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_location_failure_conditions/{condition_id}.json:
    put:
      tags:
      - Conditions
      summary: New Relic Put Alerts Location Failure Conditions
      description: '<strong>ðŸ”¥ This endpoint will be deprecated after 2024/01 ðŸ”¥</strong> New users should use <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>


        <hr>


        <p>This API endpoint allows you to update the alerts location failure conditions for your Alerts policy.</p>

        '
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition to update
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Condition'
            examples:
              PutalertslocationfailureconditionsconditionidRequestExample:
                summary: Default putAlertsLocationFailureConditionsConditionId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    metric: example_value
                    name: Example Title
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
          application/xml:
            schema:
              $ref: '#/components/schemas/Condition'
            examples:
              PutalertslocationfailureconditionsconditionidRequestExample:
                summary: Default putAlertsLocationFailureConditionsConditionId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    metric: example_value
                    name: Example Title
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Putalertslocationfailureconditionsconditionid200Example:
                  summary: Default putAlertsLocationFailureConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Putalertslocationfailureconditionsconditionid200Example:
                  summary: Default putAlertsLocationFailureConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-codegen-request-body-name: condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: putAlertsLocationFailureConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Conditions
      summary: New Relic Delete Alerts Location Failure Conditions
      description: '<strong>ðŸ”¥ This endpoint will be deprecated after 2024/01 ðŸ”¥</strong> New users should use <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>


        <hr>


        <p>This API endpoint allows you to Delete the alerts location failure conditions for your Alerts policy.</p>

        '
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition ID
        required: true
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Deletealertslocationfailureconditionsconditionid200Example:
                  summary: Default deleteAlertsLocationFailureConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Deletealertslocationfailureconditionsconditionid200Example:
                  summary: Default deleteAlertsLocationFailureConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-codegen-request-body-name: condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: deleteAlertsLocationFailureConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_nrql_conditions.json:
    get:
      tags:
      - Conditions
      summary: New Relic Get Alerts Nrql Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>

        '
      parameters:
      - name: policy_id
        in: query
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      - name: page
        in: query
        description: Pagination index
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          headers:
            link:
              description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page and `last` to the last page, unless this page is itself the last page.

                '
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Getalertsnrqlconditions200Example:
                  summary: Default getAlertsNrqlConditions 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Getalertsnrqlconditions200Example:
                  summary: Default getAlertsNrqlConditions 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getAlertsNrqlConditions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_nrql_conditions/policies/{policy_id}.json:
    post:
      tags:
      - Conditions
      summary: New Relic Post Alerts Nrql Conditions Policies
      description: 'ðŸ”¥ðŸ”¥ New users should use <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>

        '
      parameters:
      - name: policy_id
        in: path
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NrqlCondition'
            examples:
              PostalertsnrqlconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsNrqlConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  nrql_condition:
                    enabled: true
                    expected_groups: 10
                    ignore_overlap: true
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    value_function: example_value
          application/xml:
            schema:
              $ref: '#/components/schemas/NrqlCondition'
            examples:
              PostalertsnrqlconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsNrqlConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  nrql_condition:
                    enabled: true
                    expected_groups: 10
                    ignore_overlap: true
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    value_function: example_value
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Postalertsnrqlconditionspoliciespolicyid200Example:
                  summary: Default postAlertsNrqlConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Postalertsnrqlconditionspoliciespolicyid200Example:
                  summary: Default postAlertsNrqlConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
      x-codegen-request-body-name: nrql_condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsNrqlConditionsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_nrql_conditions/{condition_id}.json:
    put:
      tags:
      - Conditions
      summary: New Relic Put Alerts Nrql Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>

        '
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition to update
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NrqlCondition'
            examples:
              PutalertsnrqlconditionsconditionidRequestExample:
                summary: Default putAlertsNrqlConditionsConditionId request
                x-microcks-default: true
                value:
                  nrql_condition:
                    enabled: true
                    expected_groups: 10
                    ignore_overlap: true
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    value_function: example_value
          application/xml:
            schema:
              $ref: '#/components/schemas/NrqlCondition'
            examples:
              PutalertsnrqlconditionsconditionidRequestExample:
                summary: Default putAlertsNrqlConditionsConditionId request
                x-microcks-default: true
                value:
                  nrql_condition:
                    enabled: true
                    expected_groups: 10
                    ignore_overlap: true
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    value_function: example_value
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Putalertsnrqlconditionsconditionid200Example:
                  summary: Default putAlertsNrqlConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Putalertsnrqlconditionsconditionid200Example:
                  summary: Default putAlertsNrqlConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
      x-codegen-request-body-name: nrql_condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: putAlertsNrqlConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Conditions
      summary: New Relic Delete Alerts Nrql Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>

        '
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition ID
        required: true
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Deletealertsnrqlconditionsconditionid200Example:
                  summary: Default deleteAlertsNrqlConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Deletealertsnrqlconditionsconditionid200Example:
                  summary: Default deleteAlertsNrqlConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: deleteAlertsNrqlConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_synthetics_conditions.json:
    get:
      tags:
      - Conditions
      summary: New Relic Get Alerts Synthetics Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>


        <p>This API endpoint allows you to list the Synthetics conditions for your alert policy.</p>


        <p>See our documentation for a discussion on <a href="https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#synthetics-conditions-list" target="_blank">listing Synthetic conditions</a>

        and <a href="https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/pagination-api-output" target="_blank"> output pagination</a>.</p>


        '
      parameters:
      - name: policy_id
        in: query
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      - name: page
        in: query
        description: Pagination index
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          headers:
            link:
              description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page and `last` to the last page, unless this page is itself the last page.

                '
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyntheticsConditionResponse'
              examples:
                Getalertssyntheticsconditions200Example:
                  summary: Default getAlertsSyntheticsConditions 200 response
                  x-microcks-default: true
                  value:
                    synthetics_condition:
                      enabled: {}
                      id: {}
                      monitor_id: {}
                      name: {}
                      runbook_url: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/SyntheticsConditionResponse'
              examples:
                Getalertssyntheticsconditions200Example:
                  summary: Default getAlertsSyntheticsConditions 200 response
                  x-microcks-default: true
                  value:
                    synthetics_condition:
                      enabled: {}
                      id: {}
                      monitor_id: {}
                      name: {}
                      runbook_url: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getAlertsSyntheticsConditions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_synthetics_conditions/policies/{policy_id}.json:
    post:
      tags:
      - Conditions
      summary: New Relic Post Alerts Synthetics Conditions Policies
      description: "ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to <a href=\"https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/\">these docs about managing alerts via NerdGraph.</a>\n\n<hr>\n\n<p>This API endpoint allows you to create Synthetics conditions for your alert policies.</p>\n\n<p>Note: <a href=\"https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key\">Admin Userâ€™s API Key</a> is required.</p>\n\n<p>See our documentation for a discussion on <a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#synthetics-conditions-create\" target=\"_blank\">creating Synthetic conditions</a>.</p>\n\n<p>All fields are required except for â€œrunbook_urlâ€\x9D, â€œenabledâ€\x9D (defaults to false).</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#name\" target=\"_blank\">name</a>: A title for your condition.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#monitor_id\" target=\"_blank\">monitor_id</a>: The GUID of the Synthetics monitor to alert on.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#runbook_url\" target=\"_blank\">runbook_url</a>: Runbook URL to display in notifications (optional).</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#enabled\" target=\"_blank\">enabled</a>: The status of your condition (optional).</p>\n"
      parameters:
      - name: policy_id
        in: path
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyntheticsCondition'
            examples:
              PostalertssyntheticsconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsSyntheticsConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  synthetics_condition:
                    enabled: true
                    monitor_id: '500123'
                    name: Example Title
                    runbook_url: https://www.example.com
          application/xml:
            schema:
              $ref: '#/components/schemas/SyntheticsCondition'
            examples:
              PostalertssyntheticsconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsSyntheticsConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  synthetics_condition:
                    enabled: true
                    monitor_id: '500123'
                    name: Example Title
                    runbook_url: https://www.example.com
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyntheticsConditionResponse'
              examples:
                Postalertssyntheticsconditionspoliciespolicyid200Example:
                  summary: Default postAlertsSyntheticsConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    synthetics_condition:
                      enabled: {}
                      id: {}
                      monitor_id: {}
                      name: {}
                      runbook_url: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/SyntheticsConditionResponse'
              examples:
                Postalertssyntheticsconditionspoliciespolicyid200Example:
                  summary: Default postAlertsSyntheticsConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    synthetics_condition:
                      enabled: {}
                      id: {}
                      monitor_id: {}
                      name: {}
                      runbook_url: {}
      x-codegen-request-body-name: synthetics_condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsSyntheticsConditionsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_synthetics_conditions/{condition_id}.json:
    put:
      tags:
      - Conditions
      summary: New Relic Put Alerts Synthetics Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>


        <hr>


        <p>This API endpoint allows you to update Synthetics conditions for your alert policies.</p>


        <p>Note: <a href="https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key">Admin Userâ€™s API Key</a> is required.</p>


        <p>See our documentation for a discussion on <a href="https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#synthetics-conditions-update" target="_blank">updating Synthetic conditions</a>.</p>


        <p>See Alerts Synthetics Conditions &gt; Create for an explanation of the field values used in this command.</p>

        '
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition to update
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyntheticsCondition'
            examples:
              PutalertssyntheticsconditionsconditionidRequestExample:
                summary: Default putAlertsSyntheticsConditionsConditionId request
                x-microcks-default: true
                value:
                  synthetics_condition:
                    enabled: true
                    monitor_id: '500123'
                    name: Example Title
                    runbook_url: https://www.example.com
          application/xml:
            schema:
              $ref: '#/components/schemas/SyntheticsCondition'
            examples:
              PutalertssyntheticsconditionsconditionidRequestExample:
                summary: Default putAlertsSyntheticsConditionsConditionId request
                x-microcks-default: true
                value:
                  synthetics_condition:
                    enabled: true
                    monitor_id: '500123'
                    name: Example Title
                    runbook_url: https://www.example.com
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyntheticsConditionResponse'
              examples:
                Putalertssyntheticsconditionsconditionid200Example:
                  summary: Default putAlertsSyntheticsConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    synthetics_condition:
                      enabled: {}
                      id: {}
                      monitor_id: {}
                      name: {}
                      runbook_url: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/SyntheticsConditionResponse'
              examples:
                Putalertssyntheticsconditionsconditionid200Example:
                  summary: Default putAlertsSyntheticsConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    synthetics_condition:
                      enabled: {}
                      id: {}
                      monitor_id: {}
                      name: {}
                      runbook_url: {}
      x-codegen-request-body-name: synthetics_condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: putAlertsSyntheticsConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Conditions
      summary: New Relic Delete Alerts Synthetics Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>


        <p>This API endpoint allows you to delete Synthetics conditions associated with your alert policy.</p>


        <p>Note: <a href="https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key">Admin Userâ€™s API Key</a> is required.</p>


        <p>See our documentation for a discussion on <a href="https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#synthetics-conditions-delete" target="_blank">deleting Synthetic conditions</a>.</p>


        '
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition ID
        required: true
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyntheticsConditionResponse'
              examples:
                Deletealertssyntheticsconditionsconditionid200Example:
                  summary: Default deleteAlertsSyntheticsConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    synthetics_condition:
                      enabled: {}
                      id: {}
                      monitor_id: {}
                      name: {}
                      runbook_url: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/SyntheticsConditionResponse'
              examples:
                Deletealertssyntheticsconditionsconditionid200Example:
                  summary: Default deleteAlertsSyntheticsConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    synthetics_condition:
                      enabled: {}
                      id: {}
                      monitor_id: {}
                      name: {}
                      runbook_url: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: deleteAlertsSyntheticsConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SyntheticsCondition:
      type: object
      properties:
        synthetics_condition:
          $ref: '#/components/schemas/SyntheticsConditionBody'
    NrqlConditionBody:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
        expected_groups:
          type: integer
          example: 100
        ignore_overlap:
          type: boolean
          example: true
        name:
          type: string
          example: example-resource-01
        nrql:
          $ref: '#/components/schemas/NrqlBody'
        runbook_url:
          type: string
          example: https://portal.example.com/path/abc123
        terms:
          type: array
          items:
            $ref: '#/components/schemas/IJKTermsType'
          example:
          - duration: example_string
            operator: example_string
            priority: example_string
            threshold: example_string
            time_function: example_string
        value_function:
          type: string
          example: example_string
    NrqlConditionResponse:
      type: object
      properties:
        nrql_condition:
          $ref: '#/components/schemas/NrqlConditionResponseType'
    NrqlBody:
      type: object
      properties:
        query:
          type: string
          example: example_string
        since_value:
          type: string
          example: example_string
    SyntheticsConditionResponseType:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
        id:
          type: integer
          example: 100
        monitor_id:
          type: string
          example: '500123'
        name:
          type: string
          example: example-resource-01
        runbook_url:
          type: string
          example: https://portal.example.com/path/abc123
    ExternalServiceConditionResponseType:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
        entities:
          type: array
          items:
            type: integer
          example:
          - 100
        external_service_url:
          type: string
          example: https://portal.example.com/path/abc123
        id:
          type: integer
          example: 100
        metric:
          type: string
          example: example_string
        name:
          type: string
          example: example-resource-01
        runbook_url:
          type: string
          example: https://portal.example.com/path/abc123
        terms:
          type: array
          items:
            $ref: '#/components/schemas/IJKTermsType'
          example:
          - duration: example_string
            operator: example_string
            priority: example_string
            threshold: example_string
            time_function: example_string
        type:
          type: string
          example: standard
    ConditionResponse:
      type: object
      properties:
        condition:
          $ref: '#/components/schemas/ConditionResponseType'
    IJKTermsType:
      type: object
      properties:
        duration:
          type: string
          example: example_string
        operator:
          type: string
          example: example_string
        priority:
          type: string
          example: example_string
        threshold:
          type: string
          example: example_string
        time_function:
          type: string
          example: example_string
    SyntheticsConditionBody:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
        monitor_id:
          type: string
          example: '500123'
        name:
          type: string
          example: example-resource-01
        runbook_url:
          type: string
          example: https://portal.example.com/path/abc123
    ConditionBody:
      type: object
      properties:
        condition_scope:
          type: string
          example: example_string
        enabled:
          type: boolean
          example: true
        entities:
          type: array
          items:
            type: integer
          example:
          - 100
        gc_metric:
          type: string
          example: example_string
        metric:
          type: string
          example: example_string
        name:
          type: string
          example: example-resource-01
        terms:
          type: array
          items:
            $ref: '#/components/schemas/IJKTermsType'
          example:
          - duration: example_string
            operator: example_string
            priority: example_string
            threshold: example_string
[...]
