openapi: 3.2.0
info:
  title: New Relic Alerts API
  version: v2
  description: 'New Relic offers a variety of APIs and SDKs you can use to: Send data to New Relic. Retrieve data from New Relic. View and configure settings.'
  x-last-validated: '2026-04-18'
servers:
- url: https://api.newrelic.com/v2/
  description: US Production
- url: https://api.eu.newrelic.com/v2/
  description: EU Production
- url: https://staging-api.newrelic.com/v2/
  description: Staging
security:
- APIKeyHeader: []
tags:
- name: Alerts
paths:
  /alerts_channels.json:
    get:
      tags:
      - Alerts
      summary: New Relic Get Alerts Channels
      description: 'ðŸ”¥ This endpoint will be deprecated after 2024/01 ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint works with new Alerts on alerts.newrelic.com.


        It returns a list of the channels associated with your New Relic account.


        Note: See our documentation for a discussion on listing notification channels.'
      parameters:
      - name: page
        in: query
        description: Pagination index
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          headers:
            link:
              description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page and `last` to the last page, unless this page is itself the last page.

                '
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResponse'
              examples:
                Getalertschannels200Example:
                  summary: Default getAlertsChannels 200 response
                  x-microcks-default: true
                  value:
                    channel:
                      configuration: {}
                      id: {}
                      links: {}
                      name: {}
                      type: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ChannelResponse'
              examples:
                Getalertschannels200Example:
                  summary: Default getAlertsChannels 200 response
                  x-microcks-default: true
                  value:
                    channel:
                      configuration: {}
                      id: {}
                      links: {}
                      name: {}
                      type: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getAlertsChannels
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Alerts
      summary: New Relic Post Alerts Channels
      description: 'ðŸ”¥ This endpoint will be deprecated after 2024/01 ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint works with new Alerts on alerts.newrelic.com.


        It creates a channel associated with your New Relic account.


        Note: Admin Userâ€™s API Key is required.


        See our documentation for a discussion on creating notification channels.


        Channel type configuration options:


        Email


        {


        "recipients" : "test@google.com",

        "include_json_attachment" : true


        }


        HipChat


        {


        "auth_token": "abc123",

        "room_id": "google.com"


        }


        OpsGenie


        {


        "api_key": "abc123",

        "teams": "team1",

        "tags": "tag1",

        "recipients": "me@me.com"


        }


        Slack


        {


        "url": "http://test.com",

        "channel": "channel1"


        }


        Campfire


        {


        "subdomain": "mysubdomain",

        "token": "123abc",

        "room": "room1"


        }


        Victorops


        {


        "key": "mykey",

        "route_key": "theroute"


        }


        PagerDuty


        {


        "service_key": "myservicekey"


        }


        Webhook (json)


        {


        "base_url": "http://test.com",

        "auth_username": "username",

        "auth_password": "password",

        "payload_type": "application/json",

        "payload": {

        "account_id": "$ACCOUNT_ID",

        "account_name": "$ACCOUNT_NAME",

        "condition_id": "$CONDITION_ID",

        "condition_name": "$CONDITION_NAME",

        "current_state": "$EVENT_STATE",

        "details": "$EVENT_DETAILS",

        "event_type": "$EVENT_TYPE",

        "incident_acknowledge_url": "$INCIDENT_ACKNOWLEDGE_URL",

        "incident_id": "$INCIDENT_ID",

        "incident_url": "$INCIDENT_URL",

        "owner": "$EVENT_OWNER",

        "policy_name": "$POLICY_NAME",

        "policy_url": "$POLICY_URL",

        "runbook_url": "$RUNBOOK_URL",

        "severity": "$SEVERITY",

        "targets": "$TARGETS",

        "timestamp": "$TIMESTAMP",

        "violation_chart_url": "$VIOLATION_CHART_URL"

        },

        "headers": {"header1": "test", "header2": "test"}


        }


        Webhook (x-www-form-urlencoded)


        {


        "base_url": "http://test.com",

        "auth_username": "username",

        "auth_password": "password",

        "payload_type": "application/x-www-form-urlencoded",

        "payload": {

        "account_id": "$ACCOUNT_ID",

        "account_name": "$ACCOUNT_NAME",

        "condition_id": "$CONDITION_ID",

        "condition_name": "$CONDITION_NAME",

        "current_state": "$EVENT_STATE",

        "details": "$EVENT_DETAILS",

        "event_type": "$EVENT_TYPE",

        "incident_acknowledge_url": "$INCIDENT_ACKNOWLEDGE_URL",

        "incident_id": "$INCIDENT_ID",

        "incident_url": "$INCIDENT_URL",

        "owner": "$EVENT_OWNER",

        "policy_name": "$POLICY_NAME",

        "policy_url": "$POLICY_URL",

        "runbook_url": "$RUNBOOK_URL",

        "severity": "$SEVERITY",

        "targets": "$TARGETS",

        "timestamp": "$TIMESTAMP",

        "violation_chart_url": "$VIOLATION_CHART_URL"

        },

        "headers": {"header1": "test", "header2": "test"}


        }'
      parameters:
      - name: policy_ids
        in: query
        description: Policy IDs to associate with channel
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - '500123'
      requestBody:
        description: channel schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
            examples:
              PostalertschannelsRequestExample:
                summary: Default postAlertsChannels request
                x-microcks-default: true
                value:
                  channel:
                    configuration: {}
                    name: Example Title
                    type: example_value
          application/xml:
            schema:
              $ref: '#/components/schemas/Channel'
            examples:
              PostalertschannelsRequestExample:
                summary: Default postAlertsChannels request
                x-microcks-default: true
                value:
                  channel:
                    configuration: {}
                    name: Example Title
                    type: example_value
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResponse'
              examples:
                Postalertschannels200Example:
                  summary: Default postAlertsChannels 200 response
                  x-microcks-default: true
                  value:
                    channel:
                      configuration: {}
                      id: {}
                      links: {}
                      name: {}
                      type: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ChannelResponse'
              examples:
                Postalertschannels200Example:
                  summary: Default postAlertsChannels 200 response
                  x-microcks-default: true
                  value:
                    channel:
                      configuration: {}
                      id: {}
                      links: {}
                      name: {}
                      type: {}
      x-codegen-request-body-name: channel
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsChannels
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_channels/{channel_id}.json:
    delete:
      tags:
      - Alerts
      summary: New Relic Delete Alerts Channels Channel
      description: 'ðŸ”¥ This endpoint will be deprecated after 2024/01 ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint deletes Alerts notification channels.


        Note: User notification channels cannot be deleted.


        Note: Admin Userâ€™s API Key is required.


        See our documentation for a discussion on deleting notification channels.'
      parameters:
      - name: channel_id
        in: path
        description: Channel ID
        required: true
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResponse'
              examples:
                Deletealertschannelschannelid200Example:
                  summary: Default deleteAlertsChannelsChannelId 200 response
                  x-microcks-default: true
                  value:
                    channel:
                      configuration: {}
                      id: {}
                      links: {}
                      name: {}
                      type: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ChannelResponse'
              examples:
                Deletealertschannelschannelid200Example:
                  summary: Default deleteAlertsChannelsChannelId 200 response
                  x-microcks-default: true
                  value:
                    channel:
                      configuration: {}
                      id: {}
                      links: {}
                      name: {}
                      type: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: deleteAlertsChannelsChannelId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_conditions.json:
    get:
      tags:
      - Alerts
      summary: New Relic Get Alerts Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint allows you to list APM Application and Key Transaction, Browser and Mobile application metric conditions for your alert policies.


        Note: Conditions for web transaction percentiles, or conditions targeting labels (dynamic targeting), are not available.


        See our documentation for a discussion on

        output pagination.'
      parameters:
      - name: policy_id
        in: query
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      - name: page
        in: query
        description: Pagination index
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          headers:
            link:
              description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page and `last` to the last page, unless this page is itself the last page.

                '
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Getalertsconditions200Example:
                  summary: Default getAlertsConditions 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Getalertsconditions200Example:
                  summary: Default getAlertsConditions 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getAlertsConditions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_conditions/policies/{policy_id}.json:
    post:
      tags:
      - Alerts
      summary: New Relic Post Alerts Conditions Policies
      description: "ðŸ”¥ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.\n\nThis API endpoint allows you to create APM Application and Key Transaction, Browser and Mobile application metric conditions for your alert policies.\n\nConditions for web transaction percentiles, or conditions targeting labels (dynamic targeting), are not available.\n\nNote: Admin Userâ€™s API Key is required.\n\nSee our documentation for a discussion on creating conditions for policies.\n\nAll fields are required except for â€œrunbook_urlâ€\x9D, â€œenabledâ€\x9D (defaults to false), â€œuser_definedâ€\x9D.\n\ntype: apm_app_metric, apm_kt_metric, servers_metric, browser_metric, mobile_metric.\n\nname: A title for your condition.\n\nenabled: The status of your condition (optional).\n\nentities: An array of instances associated with your condition.\n\nmetric: The metric field accepts parameters based on the condition type selected as follows:\n\nÂ Â When apm_app_metric: apdex, error_percentage, response_time_web, response_time_background, throughput_web, throughput_background, user_defined.\n\nÂ Â When apm_kt_metric: apdex, error_percentage, error_count, response_time, throughput.\n\nÂ Â When servers_metric: cpu_percentage, disk_io_percentage, memory_percentage, fullest_disk_percentage, load_average_one_minute, user_defined.\n\nÂ Â When browser_metric: end_user_apdex, total_page_load, page_rendering, web_application, network, dom_processing, request_queuing, ajax_response_time, page_views_with_js_errors, page_view_throughput, ajax_throughput, user_defined.\n\nÂ Â When mobile_metric: database, images, json, network, view_loading, network_error_percentage, status_error_percentage, mobile_crash_rate, user_defined.\n\ncondition_scope: Set to either instance to target a Java application instance or application for a Java app.\n\nviolation_close_timer (in hours): 1, 2, 4, 8, 12, 24. Duration after which instance-based (including JVM health metric) violations will automatically close.\n\nrunbook_url: Runbook URL to display in notifications (optional).\n\nterms[duration] (in minutes): 5, 10, 15, 30, 60, 120.\n\nterms[operator]: above, below, equal.\n\nterms[priority]: critical, warning.\n\nterms[threshold]: Must be 0 or greater.\n\nterms[time_function]: all, any.\n\nuser_defined[metric]: A custom metric to be evaluated.\n\nuser_defined[value_function]: average, min, max, total, sample_size."
      parameters:
      - name: policy_id
        in: path
        description: Alerts policy
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Condition'
            examples:
              PostalertsconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    metric: example_value
                    name: Example Title
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
          application/xml:
            schema:
              $ref: '#/components/schemas/Condition'
            examples:
              PostalertsconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    metric: example_value
                    name: Example Title
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Postalertsconditionspoliciespolicyid200Example:
                  summary: Default postAlertsConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Postalertsconditionspoliciespolicyid200Example:
                  summary: Default postAlertsConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-codegen-request-body-name: condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsConditionsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_conditions/{condition_id}.json:
    put:
      tags:
      - Alerts
      summary: New Relic Put Alerts Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint allows you to update APM Application and Key Transaction, Browser and Mobile application metric conditions for your alert policies.


        Conditions for web transaction percentiles, or conditions targeting labels (dynamic targeting), are not available.


        Note: Admin Userâ€™s API Key is required.


        See Alerts Conditions > Create for an explanation of the field values or the online

        documentation on updating conditions for policies.'
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition to update
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Condition'
            examples:
              PutalertsconditionsconditionidRequestExample:
                summary: Default putAlertsConditionsConditionId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    metric: example_value
                    name: Example Title
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
          application/xml:
            schema:
              $ref: '#/components/schemas/Condition'
            examples:
              PutalertsconditionsconditionidRequestExample:
                summary: Default putAlertsConditionsConditionId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    metric: example_value
                    name: Example Title
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Putalertsconditionsconditionid200Example:
                  summary: Default putAlertsConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Putalertsconditionsconditionid200Example:
                  summary: Default putAlertsConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-codegen-request-body-name: condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: putAlertsConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Alerts
      summary: New Relic Delete Alerts Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint allows you to delete APM Application and Key Transaction, Browser and Mobile application metric conditions for your alert policies.


        Conditions for web transaction percentiles, or conditions targeting labels (dynamic targeting), are not available.


        Note: Admin Userâ€™s API Key is required.


        See our documentation for a discussion on deleting conditions.'
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition ID
        required: true
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Deletealertsconditionsconditionid200Example:
                  summary: Default deleteAlertsConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Deletealertsconditionsconditionid200Example:
                  summary: Default deleteAlertsConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: deleteAlertsConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_entity_conditions/{entity_id}.json:
    get:
      tags:
      - Alerts
      summary: New Relic Get Alerts Entity Conditions Entity
      description: 'ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to these docs about managing alerts via NerdGraph.


        This API endpoint allows you to list the Alerts conditions an entity is part of.


        Entity type options (Synthetics is not yet supported):


        BrowserApplication


        Application


        MobileApplication


        Server


        KeyTransaction'
      parameters:
      - name: entity_id
        in: path
        description: Entity ID
        required: true
        schema:
          type: integer
        example: 100
      - name: entity_type
        in: query
        description: Entity Type
        required: true
        schema:
          type: string
        example: standard
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Getalertsentityconditionsentityid200Example:
                  summary: Default getAlertsEntityConditionsEntityId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Getalertsentityconditionsentityid200Example:
                  summary: Default getAlertsEntityConditionsEntityId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getAlertsEntityConditionsEntityId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Alerts
      summary: New Relic Put Alerts Entity Conditions Entity
      description: 'ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to these docs about managing alerts via NerdGraph.


        This API endpoint allows you to add an entity to a specified Alerts condition.


        Note: Admin Userâ€™s API Key is required.


        Entity type options (Synthetics is not yet supported):


        BrowserApplication


        Application


        MobileApplication


        Server


        KeyTransaction'
      parameters:
      - name: entity_id
        in: path
        description: Entity to add
        required: true
        schema:
          type: integer
        example: 100
      - name: entity_type
        in: query
        description: Entity Type
        required: true
        schema:
          type: string
        example: standard
      - name: condition_id
        in: query
        description: Alerts condition ID
        required: true
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Putalertsentityconditionsentityid200Example:
                  summary: Default putAlertsEntityConditionsEntityId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Putalertsentityconditionsentityid200Example:
                  summary: Default putAlertsEntityConditionsEntityId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: putAlertsEntityConditionsEntityId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Alerts
      summary: New Relic Delete Alerts Entity Conditions Entity
      description: 'ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to these docs about managing alerts via NerdGraph.


        This API endpoint allows you to disassociate an entity with a specified Alerts condition.


        Note: Admin Userâ€™s API Key is required.


        Entity type options (Synthetics is not yet supported):


        BrowserApplication


        Application


        MobileApplication


        Server


        KeyTransaction'
      parameters:
      - name: entity_id
        in: path
        description: Entity to remove
        required: true
        schema:
          type: integer
        example: 100
      - name: entity_type
        in: query
        description: Entity Type
        required: true
        schema:
          type: string
        example: standard
      - name: condition_id
        in: query
        description: Alerts condition ID
        required: true
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Deletealertsentityconditionsentityid200Example:
                  summary: Default deleteAlertsEntityConditionsEntityId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Deletealertsentityconditionsentityid200Example:
                  summary: Default deleteAlertsEntityConditionsEntityId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: deleteAlertsEntityConditionsEntityId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_events.json:
    get:
      tags:
      - Alerts
      summary: New Relic Get Alerts Events
      description: 'ðŸ”¥ This endpoint will be deprecated after 2024/01 ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint allows you to list the alert events for your account.


        Alerts events can be filter by product, target type, group ID, instance ID, and event type.


        The options for products are: APM, BROWSER, MOBILE, SERVERS, SYNTHETICS, and ALERTS.


        The options for entity type are: Application, Server, KeyTransaction, MobileApplication, BrowserApplication, and Monitor.


        The options for event type are: NOTIFICATION, DEPLOYMENT, VIOLATION_OPEN, VIOLATION_CLOSE, VIOLATION, and INSTRUMENTATION.


        The group option is normally the same as the entity (e.g. an Application group and entity will be the same)


        See our documentation for a discussion on

        output pagination.'
      parameters:
      - name: filter[product]
        in: query
        description: Filter by New Relic product
        schema:
          type: string
        example: example_string
      - name: filter[entity_type]
        in: query
        description: Filter by entity type
        schema:
          type: string
        example: standard
      - name: filter[entity_group_id]
        in: query
        description: Filter by entity group ID
        schema:
          type: integer
        example: 100
      - name: filter[entity_id]
        in: query
        description: Filter by entity ID
        schema:
          type: integer
        example: 100
      - name: filter[event_type]
        in: query
        description: Filter by event type
        schema:
          type: string
        example: standard
      - name: filter[incident_id]
        in: query
        description: Filter by incident id
        schema:
          type: integer
        example: 100
      - name: page
        in: query
        description: Pagination index
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          headers:
            link:
              description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page and `last` to the last page, unless this page is itself the last page.

                '
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentEventResponse'
              examples:
                Getalertsevents200Example:
                  summary: Default getAlertsEvents 200 response
                  x-microcks-default: true
                  value:
                    recent_event:
                      description: {}
                      entity_group_id: {}
                      entity_id: {}
                      entity_type: {}
                      event_type: {}
                      id: {}
                      incident_id: {}
                      priority: {}
                      product: {}
                      timestamp: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/RecentEventResponse'
              examples:
                Getalertsevents200Example:
                  summary: Default getAlertsEvents 200 response
                  x-microcks-default: true
                  value:
                    recent_event:
                      description: {}
                      entity_group_id: {}
                      entity_id: {}
                      entity_type: {}
                      event_type: {}
                      id: {}
                      incident_id: {}
                      priority: {}
                      product: {}
                      timestamp: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getAlertsEvents
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_external_service_conditions.json:
    get:
      tags:
      - Alerts
      summary: New Relic Get Alerts External Service Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to these docs about managing alerts via NerdGraph.


        This API endpoint allows you to list the external service conditions for your alert policy.


        See our documentation for a discussion on

        output pagination.'
      parameters:
      - name: policy_id
        in: query
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      - name: page
        in: query
        description: Pagination index
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          headers:
            link:
              description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page and `last` to the last page, unless this page is itself the last page.

                '
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Getalertsexternalserviceconditions200Example:
                  summary: Default getAlertsExternalServiceConditions 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Getalertsexternalserviceconditions200Example:
                  summary: Default getAlertsExternalServiceConditions 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getAlertsExternalServiceConditions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_external_service_conditions/policies/{policy_id}.json:
    post:
      tags:
      - Alerts
      summary: New Relic Post Alerts External Service Conditions Policies
      description: "ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to these docs about managing alerts via NerdGraph.\n\nThis API endpoint allows you to create external service conditions for your alert policies.\n\nNote: Admin Userâ€™s API Key is required.\n\nSee our documentation for a discussion on creating conditions for external services.\n\nAll fields are required except for â€œrunbook_urlâ€\x9D, â€œenabledâ€\x9D (defaults to false).\n\ntype: apm_external_service, mobile_external_service.\n\nname: A title for your condition.\n\nenabled: The status of your condition (optional).\n\nentities: An array of instance IDs associated with your condition.\n\nexternal_service_url: The URL of the external service. Must not include protocol (â€œexample.comâ€\x9D, not â€œhttps://example.comâ€\x9D)\n\nmetric: The metric field accepts parameters based on the condition type selected as follows:\n\nÂ Â When apm_external_service: response_time_average, response_time_minimum, response_time_maximum, throughput.\n\nÂ Â When mobile_external_service: response_time_average, response_time_minimum, response_time_maximum, throughput, network_failure_percentage, http_status_error_percentage.\n\nrunbook_url: Runbook URL to display in notifications (optional).\n\nterms[duration] (in minutes): 5, 10, 15, 30, 60, 120.\n\nterms[operator]: above, below, equal.\n\nterms[priority]: critical, warning.\n\nterms[threshold]: Must be 0 or greater.\n\nterms[time_function]: all, any."
      parameters:
      - name: policy_id
        in: path
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalServiceCondition'
            examples:
              PostalertsexternalserviceconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsExternalServiceConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  external_service_condition:
                    enabled: true
                    entities:
                    - {}
                    external_service_url: https://www.example.com
                    metric: example_value
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    type: example_value
          application/xml:
            schema:
              $ref: '#/components/schemas/ExternalServiceCondition'
            examples:
              PostalertsexternalserviceconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsExternalServiceConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  external_service_condition:
                    enabled: true
                    entities:
                    - {}
                    external_service_url: https://www.example.com
                    metric: example_value
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    type: example_value
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Postalertsexternalserviceconditionspoliciespolicyid200Example:
                  summary: Default postAlertsExternalServiceConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Postalertsexternalserviceconditionspoliciespolicyid200Example:
                  summary: Default postAlertsExternalServiceConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
      x-codegen-request-body-name: external_service_condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsExternalServiceConditionsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_external_service_conditions/{condition_id}.json:
    put:
      tags:
      - Alerts
      summary: New Relic Put Alerts External Service Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to these docs about managing alerts via NerdGraph.


        This API endpoint allows you to update external service conditions for your alert policies.


        Note: Admin Userâ€™s API Key is required.


        See Alerts External Service Conditions > Create for an explanation of the field values used in this command or the online documentation on

        updating conditions for external services.'
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition to update
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalServiceCondition'
            examples:
              PutalertsexternalserviceconditionsconditionidRequestExample:
                summary: Default putAlertsExternalServiceConditionsConditionId request
                x-microcks-default: true
                value:
                  external_service_condition:
                    enabled: true
                    entities:
                    - {}
                    external_service_url: https://www.example.com
                    metric: example_value
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    type: example_value
          application/xml:
            schema:
              $ref: '#/components/schemas/ExternalServiceCondition'
            examples:
              PutalertsexternalserviceconditionsconditionidRequestExample:
                summary: Default putAlertsExternalServiceConditionsConditionId request
                x-microcks-default: true
                value:
                  external_service_condition:
                    enabled: true
                    entities:
                    - {}
                    external_service_url: https://www.example.com
                    metric: example_value
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    type: example_value
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Putalertsexternalserviceconditionsconditionid200Example:
                  summary: Default putAlertsExternalServiceConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Putalertsexternalserviceconditionsconditionid200Example:
                  summary: Default putAlertsExternalServiceConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
      x-codegen-request-body-name: external_service_condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: putAlertsExternalServiceConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Alerts
      summary: New Relic Delete Alerts External Service Conditions
      description: 'ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to these docs about managing alerts via NerdGraph.


        This API endpoint allows you to delete external service conditions associated with your alert policy.


        Note: Admin Userâ€™s API Key is required.


        See our documentation for a discussion on deleting External services conditions.'
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition ID
        required: true
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Deletealertsexternalserviceconditionsconditionid200Example:
                  summary: Default deleteAlertsExternalServiceConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Deletealertsexternalserviceconditionsconditionid200Example:
                  summary: Default deleteAlertsExternalServiceConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: deleteAlertsExternalServiceConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_incidents.json:
    get:
      tags:
      - Alerts
      summary: New Relic Get Alerts Incidents
      description: 'ðŸ”¥ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint returns a list of the Incidents associated with your New Relic account.


        See our documentation for a discussion on listing incidents

        and output pagination.'
      parameters:
      - name: page
        in: query
        description: Pagination index
        schema:
          type: integer
        example: 100
      - name: only_open
        in: query
        description: Filter by open incidents
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: No response was specified
          headers:
            link:
              description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page and `last` to the last page, unless this page is itself the last page.

                '
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentResponse'
              examples:
                Getalertsincidents200Example:
                  summary: Default getAlertsIncidents 200 response
                  x-microcks-default: true
                  value:
                    incident:
                      closed_at: {}
                      id: {}
                      incident_preference: {}
                      links: {}
                      opened_at: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/IncidentResponse'
              examples:
                Getalertsincidents200Example:
                  summary: Default getAlertsIncidents 200 response
                  x-microcks-default: true
                  value:
                    incident:
                      closed_at: {}
                      id: {}
                      incident_preference: {}
                      links: {}
                      opened_at: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getAlertsIncidents
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_location_failure_conditions/policies/{policy_id}.json:
    get:
      tags:
      - Alerts
      summary: New Relic Get Alerts Location Failure Conditions Policies
      description: 'ðŸ”¥ This endpoint will be deprecated after 2024/01 ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint allows you to list the alerts location failure conditions for your Alerts policy.'
      parameters:
      - name: policy_id
        in: path
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      - name: page
        in: query
        description: Pagination index
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          headers:
            link:
              description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page and `last` to the last page, unless this page is itself the last page.

                '
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConditionResponse'
              examples:
                Getalertslocationfailureconditionspoliciespolicyid200Example:
                  summary: Default getAlertsLocationFailureConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                  - condition: {}
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConditionResponse'
              examples:
                Getalertslocationfailureconditionspoliciespolicyid200Example:
                  summary: Default getAlertsLocationFailureConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                  - condition: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getAlertsLocationFailureConditionsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Alerts
      summary: New Relic Post Alerts Location Failure Conditions Policies
      description: 'ðŸ”¥ This endpoint will be deprecated after 2024/01 ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint allows you to create the alerts location failure conditions for your Alerts policy.'
      parameters:
      - name: policy_id
        in: path
        description: Alerts policy failure condition
        required: true
        schema:
          type: integer
        example: 100
      - name: location_failure_condition
        in: path
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConditionResponse'
            examples:
              PostalertslocationfailureconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsLocationFailureConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    id: abc123
                    metric: example_value
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
          application/xml:
            schema:
              $ref: '#/components/schemas/ConditionResponse'
            examples:
              PostalertslocationfailureconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsLocationFailureConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    id: abc123
                    metric: example_value
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Postalertslocationfailureconditionspoliciespolicyid200Example:
                  summary: Default postAlertsLocationFailureConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Postalertslocationfailureconditionspoliciespolicyid200Example:
                  summary: Default postAlertsLocationFailureConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-codegen-request-body-name: condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsLocationFailureConditionsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_location_failure_conditions/{condition_id}.json:
    put:
      tags:
      - Alerts
      summary: New Relic Put Alerts Location Failure Conditions
      description: 'ðŸ”¥ This endpoint will be deprecated after 2024/01 ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint allows you to update the alerts location failure conditions for your Alerts policy.'
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition to update
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Condition'
            examples:
              PutalertslocationfailureconditionsconditionidRequestExample:
                summary: Default putAlertsLocationFailureConditionsConditionId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    metric: example_value
                    name: Example Title
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
          application/xml:
            schema:
              $ref: '#/components/schemas/Condition'
            examples:
              PutalertslocationfailureconditionsconditionidRequestExample:
                summary: Default putAlertsLocationFailureConditionsConditionId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    metric: example_value
                    name: Example Title
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Putalertslocationfailureconditionsconditionid200Example:
                  summary: Default putAlertsLocationFailureConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Putalertslocationfailureconditionsconditionid200Example:
                  summary: Default putAlertsLocationFailureConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-codegen-request-body-name: condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: putAlertsLocationFailureConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Alerts
      summary: New Relic Delete Alerts Location Failure Conditions
      description: 'ðŸ”¥ This endpoint will be deprecated after 2024/01 ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint allows you to Delete the alerts location failure conditions for your Alerts policy.'
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition ID
        required: true
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Deletealertslocationfailureconditionsconditionid200Example:
                  summary: Default deleteAlertsLocationFailureConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Deletealertslocationfailureconditionsconditionid200Example:
                  summary: Default deleteAlertsLocationFailureConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-codegen-request-body-name: condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: deleteAlertsLocationFailureConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_nrql_conditions.json:
    get:
      tags:
      - Alerts
      summary: New Relic Get Alerts Nrql Conditions
      description: ðŸ”¥ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.
      parameters:
      - name: policy_id
        in: query
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      - name: page
        in: query
        description: Pagination index
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          headers:
            link:
              description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page and `last` to the last page, unless this page is itself the last page.

                '
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Getalertsnrqlconditions200Example:
                  summary: Default getAlertsNrqlConditions 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Getalertsnrqlconditions200Example:
                  summary: Default getAlertsNrqlConditions 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getAlertsNrqlConditions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_nrql_conditions/policies/{policy_id}.json:
    post:
      tags:
      - Alerts
      summary: New Relic Post Alerts Nrql Conditions Policies
      description: ðŸ”¥ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.
      parameters:
      - name: policy_id
        in: path
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NrqlCondition'
            examples:
              PostalertsnrqlconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsNrqlConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  nrql_condition:
                    enabled: true
                    expected_groups: 10
                    ignore_overlap: true
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    value_function: example_value
          application/xml:
            schema:
              $ref: '#/components/schemas/NrqlCondition'
            examples:
              PostalertsnrqlconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsNrqlConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  nrql_condition:
                    enabled: true
                    expected_groups: 10
                    ignore_overlap: true
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    value_function: example_value
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Postalertsnrqlconditionspoliciespolicyid200Example:
                  summary: Default postAlertsNrqlConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Postalertsnrqlconditionspoliciespolicyid200Example:
                  summary: Default postAlertsNrqlConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
      x-codegen-request-body-name: nrql_condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsNrqlConditionsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_nrql_conditions/{condition_id}.json:
    put:
      tags:
      - Alerts
      summary: New Relic Put Alerts Nrql Conditions
      description: ðŸ”¥ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition to update
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NrqlCondition'
            examples:
              PutalertsnrqlconditionsconditionidRequestExample:
                summary: Default putAlertsNrqlConditionsConditionId request
                x-microcks-default: true
                value:
                  nrql_condition:
                    enabled: true
                    expected_groups: 10
                    ignore_overlap: true
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    value_function: example_value
          application/xml:
            schema:
              $ref: '#/components/schemas/NrqlCondition'
            examples:
              PutalertsnrqlconditionsconditionidRequestExample:
                summary: Default putAlertsNrqlConditionsConditionId request
                x-microcks-default: true
                value:
                  nrql_condition:
                    enabled: true
                    expected_groups: 10
                    ignore_overlap: true
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    value_function: example_value
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Putalertsnrqlconditionsconditionid200Example:
                  summary: Default putAlertsNrqlConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Putalertsnrqlconditionsconditionid200Example:
                  summary: Default putAlertsNrqlConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
      x-codegen-request-body-name: nrql_condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: putAlertsNrqlConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Alerts
      summary: New Relic Delete Alerts Nrql Conditions
      description: ðŸ”¥ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.
      parameters:
      - name: condition_id
        in: path
        description: Alerts condition ID
        required: true
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Deletealertsnrqlconditionsconditionid200Example:
                  summary: Default deleteAlertsNrqlConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Deletealertsnrqlconditionsconditionid200Example:
                  summary: Default deleteAlertsNrqlConditionsConditionId 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: deleteAlertsNrqlConditionsConditionId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_policies.json:
    get:
      tags:
      - Alerts
      summary: New Relic Get Alerts Policies
      description: 'ðŸ”¥ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint works with new Alerts on alerts.newrelic.com.


        This API endpoint returns a list of the alert policies associated with your New Relic account.


        See our documentation for a discussion on

        output pagination.'
      parameters:
      - name: filter[name]
        in: query
        description: Name (must be exact match)
        schema:
          type: string
        example: example_string
      - name: page
        in: query
        description: Pagination index
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          headers:
            link:
              description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page and `last` to the last page, unless this page is itself the last page.

                '
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
              examples:
                Getalertspolicies200Example:
                  summary: Default getAlertsPolicies 200 response
                  x-microcks-default: true
                  value:
                    policy:
                      created_at: {}
                      id: {}
                      incident_preference: {}
                      name: {}
                      updated_at: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
              examples:
                Getalertspolicies200Example:
                  summary: Default getAlertsPolicies 200 response
                  x-microcks-default: true
                  value:
                    policy:
                      created_at: {}
                      id: {}
                      incident_preference: {}
                      name: {}
                      updated_at: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getAlertsPolicies
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Alerts
      summary: New Relic Post Alerts Policies
      description: 'ðŸ”¥ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint works with new Alerts on alerts.newrelic.com.


        This Alerts API endpoint creates a policy associated with your New Relic account.


        Note: Admin Userâ€™s API Key is required.


        Rollup stategy options:


        PER_POLICY


        PER_CONDITION


        PER_CONDITION_AND_TARGET


        See our documentation for a discussion on using the REST API for

        creating new policies.'
      requestBody:
        description: Policy Schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy'
            examples:
              PostalertspoliciesRequestExample:
                summary: Default postAlertsPolicies request
                x-microcks-default: true
                value:
                  policy:
                    incident_preference: example_value
                    name: Example Title
          application/xml:
            schema:
              $ref: '#/components/schemas/Policy'
            examples:
              PostalertspoliciesRequestExample:
                summary: Default postAlertsPolicies request
                x-microcks-default: true
                value:
                  policy:
                    incident_preference: example_value
                    name: Example Title
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
              examples:
                Postalertspolicies200Example:
                  summary: Default postAlertsPolicies 200 response
                  x-microcks-default: true
                  value:
                    policy:
                      created_at: {}
                      id: {}
                      incident_preference: {}
                      name: {}
                      updated_at: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
              examples:
                Postalertspolicies200Example:
                  summary: Default postAlertsPolicies 200 response
                  x-microcks-default: true
                  value:
                    policy:
                      created_at: {}
                      id: {}
                      incident_preference: {}
                      name: {}
                      updated_at: {}
      x-codegen-request-body-name: policy
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsPolicies
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_policies/{policy_id}.json:
    put:
      tags:
      - Alerts
      summary: New Relic Put Alerts Policies
      description: 'ðŸ”¥ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint updates Alerts policies associated with your New Relic account.


        Note: Admin Userâ€™s API Key is required.


        See our documentation for a discussion on using the REST API for

        updating policies.'
      parameters:
      - name: policy_id
        in: path
        description: Policy ID
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Policy Schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy'
            examples:
              PutalertspoliciespolicyidRequestExample:
                summary: Default putAlertsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  policy:
                    incident_preference: example_value
                    name: Example Title
          application/xml:
            schema:
              $ref: '#/components/schemas/Policy'
            examples:
              PutalertspoliciespolicyidRequestExample:
                summary: Default putAlertsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  policy:
                    incident_preference: example_value
                    name: Example Title
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
              examples:
                Putalertspoliciespolicyid200Example:
                  summary: Default putAlertsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    policy:
                      created_at: {}
                      id: {}
                      incident_preference: {}
                      name: {}
                      updated_at: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
              examples:
                Putalertspoliciespolicyid200Example:
                  summary: Default putAlertsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    policy:
                      created_at: {}
                      id: {}
                      incident_preference: {}
                      name: {}
                      updated_at: {}
      x-codegen-request-body-name: policy
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: putAlertsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Alerts
      summary: New Relic Delete Alerts Policies
      description: 'ðŸ”¥ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint deletes Alerts policies associated with your New Relic account.


        Note: Admin Userâ€™s API Key is required.


        See our documentation for a discussion on using the REST API for

        deleting policies.'
      parameters:
      - name: policy_id
        in: path
        description: Policy ID
        required: true
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
              examples:
                Deletealertspoliciespolicyid200Example:
                  summary: Default deleteAlertsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    policy:
                      created_at: {}
                      id: {}
                      incident_preference: {}
                      name: {}
                      updated_at: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
              examples:
                Deletealertspoliciespolicyid200Example:
                  summary: Default deleteAlertsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    policy:
                      created_at: {}
                      id: {}
                      incident_preference: {}
                      name: {}
                      updated_at: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: deleteAlertsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_policy_channels.json:
    put:
      tags:
      - Alerts
      summary: New Relic Put Alerts Policy Channels
      description: 'ðŸ”¥ This endpoint will be deprecated after 2024/01 ðŸ”¥ New users should use these docs about managing alerts via NerdGraph.


        This API endpoint updates policy/channel associations.


        Note: Admin Userâ€™s API Key is required.


        See our documentation for a discussion on updating notification channels with policies.'
      parameters:
      - name: policy_id
        in: query
        description: Policy ID
        required: true
        schema:
          type: integer
        example: 100
      - name: channel_ids
        in: query
        description: Channel IDs
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - '500123'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyChannelsResponse'
              examples:
                Putalertspolicychannels200Example:
                  summary: Default putAlertsPolicyChannels 200 response
[...]
