openapi: 3.1.0
info:
  title: New Relic Event Alerts Post API
  description: The New Relic Event API allows you to send custom event data to the New Relic platform via HTTP POST. Custom events submitted through this API can be queried and visualized using NRQL, making it suitable for tracking arbitrary business or application events. Each event is a JSON object with an eventType and any number of additional attribute key-value pairs.
  version: '1'
  contact:
    name: New Relic Support
    url: https://support.newrelic.com/
  termsOfService: https://newrelic.com/termsandconditions/terms
  x-last-validated: '2026-04-18'
servers:
- url: https://insights-collector.newrelic.com
  description: US Production
- url: https://insights-collector.eu01.nr-data.net
  description: EU Production
security:
- apiKey: []
tags:
- name: Post
paths:
  /applications/{application_id}/deployments.json:
    post:
      tags:
      - Post
      summary: New Relic Post Applications Deployments
      description: Creates a new deployment marker for a specified application in New Relic by sending a POST request to the /applications/{application_id}/deployments.json endpoint. This operation allows you to record deployment events, which appear as vertical lines on charts in the New Relic UI, helping teams correlate application performance changes with specific deployments. The request requires the application_id path parameter to identify the target application, and typically accepts deployment details in the request body such as revision, changelog, description, and user information. Deployment markers are useful for tracking releases, troubleshooting issues, and analyzing the impact of code changes on application performance metrics.
      parameters:
      - name: application_id
        in: path
        description: Application ID
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Deployment schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
            examples:
              PostapplicationsiddeploymentsRequestExample:
                summary: Default postApplicationsIdDeployments request
                x-microcks-default: true
                value:
                  deployment:
                    changelog: example_value
                    description: A sample description.
                    revision: example_value
                    user: example_value
          application/xml:
            schema:
              $ref: '#/components/schemas/Deployment'
            examples:
              PostapplicationsiddeploymentsRequestExample:
                summary: Default postApplicationsIdDeployments request
                x-microcks-default: true
                value:
                  deployment:
                    changelog: example_value
                    description: A sample description.
                    revision: example_value
                    user: example_value
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResponse'
              examples:
                Postapplicationsiddeployments200Example:
                  summary: Default postApplicationsIdDeployments 200 response
                  x-microcks-default: true
                  value:
                    deployment:
                      changelog: {}
                      description: {}
                      id: {}
                      links: {}
                      revision: {}
                      timestamp: {}
                      user: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/DeploymentResponse'
              examples:
                Postapplicationsiddeployments200Example:
                  summary: Default postApplicationsIdDeployments 200 response
                  x-microcks-default: true
                  value:
                    deployment:
                      changelog: {}
                      description: {}
                      id: {}
                      links: {}
                      revision: {}
                      timestamp: {}
                      user: {}
      x-codegen-request-body-name: deployment
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postApplicationsIdDeployments
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_channels.json:
    post:
      tags:
      - Post
      summary: New Relic Post Alerts Channels
      description: "<strong>ðŸ”¥ This endpoint will be deprecated after 2024/01 ðŸ”¥</strong> New users should use <a href=\"https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/\">these docs about managing alerts via NerdGraph.</a>\n\n<p>This API endpoint works with new Alerts on alerts.newrelic.com.</p>\n\n<p>It creates a channel associated with your New Relic account.</p>\n\n<p>Note: <a href=\"https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key\">Admin Userâ€™s API Key</a> is required.</p>\n\n<p>See our documentation for a discussion on <a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#channels-create\">creating notification channels</a>.</p>\n\n<p>Channel type configuration options:</p>\n\n<ul>\n  <li>\n    <p>Email</p>\n\n    <p>{</p>\n\n    <pre><code>\"recipients\" : \"test@google.com\",\n\"include_json_attachment\" : true\n</code></pre>\n\n    <p>}</p>\n  </li>\n  <li>\n    <p>HipChat</p>\n\n    <p>{</p>\n\n    <pre><code>\"auth_token\": \"abc123\",\n\"room_id\": \"google.com\"\n</code></pre>\n\n    <p>}</p>\n  </li>\n  <li>\n    <p>OpsGenie</p>\n\n    <p>{</p>\n\n    <pre><code>\"api_key\": \"abc123\",\n\"teams\": \"team1\",\n\"tags\": \"tag1\",\n\"recipients\": \"me@me.com\"\n</code></pre>\n\n    <p>}</p>\n  </li>\n  <li>\n    <p>Slack</p>\n\n    <p>{</p>\n\n    <pre><code>\"url\": \"http://test.com\",\n\"channel\": \"channel1\"\n</code></pre>\n\n    <p>}</p>\n  </li>\n  <li>\n    <p>Campfire</p>\n\n    <p>{</p>\n\n    <pre><code>\"subdomain\": \"mysubdomain\",\n\"token\": \"123abc\",\n\"room\": \"room1\"\n</code></pre>\n\n    <p>}</p>\n  </li>\n  <li>\n    <p>Victorops</p>\n\n    <p>{</p>\n\n    <pre><code>\"key\": \"mykey\",\n\"route_key\": \"theroute\"\n</code></pre>\n\n    <p>}</p>\n  </li>\n  <li>\n    <p>PagerDuty</p>\n\n    <p>{</p>\n\n    <pre><code>\"service_key\": \"myservicekey\"\n</code></pre>\n\n    <p>}</p>\n  </li>\n  <li>\n    <p>Webhook (json)</p>\n\n    <p>{</p>\n\n    <pre><code>\"base_url\": \"http://test.com\",\n\"auth_username\": \"username\",\n\"auth_password\": \"password\",\n\"payload_type\": \"application/json\",\n\"payload\": {\n  \"account_id\": \"$ACCOUNT_ID\",\n  \"account_name\": \"$ACCOUNT_NAME\",\n  \"condition_id\": \"$CONDITION_ID\",\n  \"condition_name\": \"$CONDITION_NAME\",\n  \"current_state\": \"$EVENT_STATE\",\n  \"details\": \"$EVENT_DETAILS\",\n  \"event_type\": \"$EVENT_TYPE\",\n  \"incident_acknowledge_url\": \"$INCIDENT_ACKNOWLEDGE_URL\",\n  \"incident_id\": \"$INCIDENT_ID\",\n  \"incident_url\": \"$INCIDENT_URL\",\n  \"owner\": \"$EVENT_OWNER\",\n  \"policy_name\": \"$POLICY_NAME\",\n  \"policy_url\": \"$POLICY_URL\",\n  \"runbook_url\": \"$RUNBOOK_URL\",\n  \"severity\": \"$SEVERITY\",\n  \"targets\": \"$TARGETS\",\n  \"timestamp\": \"$TIMESTAMP\",\n  \"violation_chart_url\": \"$VIOLATION_CHART_URL\"\n},\n\"headers\": {\"header1\": \"test\", \"header2\": \"test\"}\n</code></pre>\n\n    <p>}</p>\n  </li>\n  <li>\n    <p>Webhook (x-www-form-urlencoded)</p>\n\n    <p>{</p>\n\n    <pre><code>\"base_url\": \"http://test.com\",\n\"auth_username\": \"username\",\n\"auth_password\": \"password\",\n\"payload_type\": \"application/x-www-form-urlencoded\",\n\"payload\": {\n  \"account_id\": \"$ACCOUNT_ID\",\n  \"account_name\": \"$ACCOUNT_NAME\",\n  \"condition_id\": \"$CONDITION_ID\",\n  \"condition_name\": \"$CONDITION_NAME\",\n  \"current_state\": \"$EVENT_STATE\",\n  \"details\": \"$EVENT_DETAILS\",\n  \"event_type\": \"$EVENT_TYPE\",\n  \"incident_acknowledge_url\": \"$INCIDENT_ACKNOWLEDGE_URL\",\n  \"incident_id\": \"$INCIDENT_ID\",\n  \"incident_url\": \"$INCIDENT_URL\",\n  \"owner\": \"$EVENT_OWNER\",\n  \"policy_name\": \"$POLICY_NAME\",\n  \"policy_url\": \"$POLICY_URL\",\n  \"runbook_url\": \"$RUNBOOK_URL\",\n  \"severity\": \"$SEVERITY\",\n  \"targets\": \"$TARGETS\",\n  \"timestamp\": \"$TIMESTAMP\",\n  \"violation_chart_url\": \"$VIOLATION_CHART_URL\"\n},\n\"headers\": {\"header1\": \"test\", \"header2\": \"test\"}\n</code></pre>\n\n    <p>}</p>\n  </li>\n</ul>\n\n"
      parameters:
      - name: policy_ids
        in: query
        description: Policy IDs to associate with channel
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - '500123'
      requestBody:
        description: channel schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
            examples:
              PostalertschannelsRequestExample:
                summary: Default postAlertsChannels request
                x-microcks-default: true
                value:
                  channel:
                    configuration: {}
                    name: Example Title
                    type: example_value
          application/xml:
            schema:
              $ref: '#/components/schemas/Channel'
            examples:
              PostalertschannelsRequestExample:
                summary: Default postAlertsChannels request
                x-microcks-default: true
                value:
                  channel:
                    configuration: {}
                    name: Example Title
                    type: example_value
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResponse'
              examples:
                Postalertschannels200Example:
                  summary: Default postAlertsChannels 200 response
                  x-microcks-default: true
                  value:
                    channel:
                      configuration: {}
                      id: {}
                      links: {}
                      name: {}
                      type: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ChannelResponse'
              examples:
                Postalertschannels200Example:
                  summary: Default postAlertsChannels 200 response
                  x-microcks-default: true
                  value:
                    channel:
                      configuration: {}
                      id: {}
                      links: {}
                      name: {}
                      type: {}
      x-codegen-request-body-name: channel
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsChannels
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_conditions/policies/{policy_id}.json:
    post:
      tags:
      - Post
      summary: New Relic Post Alerts Conditions Policies
      description: "ðŸ”¥ðŸ”¥ New users should use <a href=\"https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/\">these docs about managing alerts via NerdGraph.</a>\n\n<p>This API endpoint allows you to create APM Application and Key Transaction, Browser and Mobile application metric conditions for your alert policies.</p>\n\n<p><strong>Conditions for web transaction percentiles, or conditions targeting labels (dynamic targeting), are not available.</strong></p>\n\n<p>Note: <a href=\"https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key\">Admin Userâ€™s API Key</a> is required.</p>\n\n<p>See our documentation for a discussion on <a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#conditions-create\" target=\"_blank\">creating conditions for policies</a>.\n<br /></p>\n\n<p>All fields are required except for â€œrunbook_urlâ€\x9D, â€œenabledâ€\x9D (defaults to false), â€œuser_definedâ€\x9D.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#type\" target=\"_blank\">type</a>: apm_app_metric, apm_kt_metric, servers_metric, browser_metric, mobile_metric.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#name\" target=\"_blank\">name</a>: A title for your condition.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#enabled\" target=\"_blank\">enabled</a>: The status of your condition (optional).</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#entities\" target=\"_blank\">entities</a>: An array of instances associated with your condition.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#metric\" target=\"_blank\">metric</a>: The metric field accepts parameters based on the condition <b>type</b> selected as follows:</p>\n\n<p>Â Â When <b>apm_app_metric</b>: apdex, error_percentage, response_time_web, response_time_background, throughput_web, throughput_background, user_defined.</p>\n\n<p>Â Â When <b>apm_kt_metric</b>: apdex, error_percentage, error_count, response_time, throughput.</p>\n\n<p>Â Â When <b>servers_metric</b>: cpu_percentage, disk_io_percentage, memory_percentage, fullest_disk_percentage, load_average_one_minute, user_defined.</p>\n\n<p>Â Â When <b>browser_metric</b>: end_user_apdex, total_page_load, page_rendering, web_application, network, dom_processing, request_queuing, ajax_response_time, page_views_with_js_errors, page_view_throughput, ajax_throughput, user_defined.</p>\n\n<p>Â Â When <b>mobile_metric</b>: database, images, json, network, view_loading, network_error_percentage, status_error_percentage, mobile_crash_rate, user_defined.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/rest-api-alerts/new-relic-alerts-rest-api/alerts-conditions-api-field-names#condition-scope\">condition_scope</a>: Set to either <code>instance</code> to target a Java application instance or <code>application</code> for a Java app.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/rest-api-alerts/new-relic-alerts-rest-api/alerts-conditions-api-field-names#violation_close_timer\">violation_close_timer</a> (in hours): 1, 2, 4, 8, 12, 24. Duration after which instance-based (including JVM health metric) violations will automatically close.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#runbook_url\" target=\"_blank\">runbook_url</a>: Runbook URL to display in notifications (optional).</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_duration\" target=\"_blank\">terms[duration]</a> (in minutes): 5, 10, 15, 30, 60, 120.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_operator\" target=\"_blank\">terms[operator]</a>: above, below, equal.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_priority\" target=\"_blank\">terms[priority]</a>: critical, warning.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_threshold\" target=\"_blank\">terms[threshold]</a>: Must be 0 or greater.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_time_function\" target=\"_blank\">terms[time_function]</a>: all, any.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#user_defined_metric\" target=\"_blank\">user_defined[metric]</a>: A custom metric to be evaluated.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#user_defined_value_function\" target=\"_blank\">user_defined[value_function]</a>: average, min, max, total, sample_size.</p>\n\n"
      parameters:
      - name: policy_id
        in: path
        description: Alerts policy
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Condition'
            examples:
              PostalertsconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    metric: example_value
                    name: Example Title
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
          application/xml:
            schema:
              $ref: '#/components/schemas/Condition'
            examples:
              PostalertsconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    metric: example_value
                    name: Example Title
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Postalertsconditionspoliciespolicyid200Example:
                  summary: Default postAlertsConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Postalertsconditionspoliciespolicyid200Example:
                  summary: Default postAlertsConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-codegen-request-body-name: condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsConditionsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_external_service_conditions/policies/{policy_id}.json:
    post:
      tags:
      - Post
      summary: New Relic Post Alerts External Service Conditions Policies
      description: "ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to <a href=\"https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/\">these docs about managing alerts via NerdGraph.</a>\n\n<p>This API endpoint allows you to create external service conditions for your alert policies.</p>\n\n<p>Note: <a href=\"https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key\">Admin Userâ€™s API Key</a> is required.</p>\n\n<p>See our documentation for a discussion on <a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#ext-conditions-create\" target=\"_blank\">creating conditions for external services</a>.</p>\n\n<p>All fields are required except for â€œrunbook_urlâ€\x9D, â€œenabledâ€\x9D (defaults to false).</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#type\" target=\"_blank\">type</a>: apm_external_service, mobile_external_service.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#name\" target=\"_blank\">name</a>: A title for your condition.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#enabled\" target=\"_blank\">enabled</a>: The status of your condition (optional).</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#entities\" target=\"_blank\">entities</a>: An array of instance IDs associated with your condition.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#external_service_url\" target=\"_blank\">external_service_url</a>: The URL of the external service. Must not include protocol (â€œexample.comâ€\x9D, not â€œhttps://example.comâ€\x9D)</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#metric\" target=\"_blank\">metric</a>: The metric field accepts parameters based on the condition <b>type</b> selected as follows:</p>\n\n<p>Â Â When <b>apm_external_service</b>: response_time_average, response_time_minimum, response_time_maximum, throughput.</p>\n\n<p>Â Â When <b>mobile_external_service</b>: response_time_average, response_time_minimum, response_time_maximum, throughput, network_failure_percentage, http_status_error_percentage.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#runbook_url\" target=\"_blank\">runbook_url</a>: Runbook URL to display in notifications (optional).</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_duration\" target=\"_blank\">terms[duration]</a> (in minutes): 5, 10, 15, 30, 60, 120.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_operator\" target=\"_blank\">terms[operator]</a>: above, below, equal.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_priority\" target=\"_blank\">terms[priority]</a>: critical, warning.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_threshold\" target=\"_blank\">terms[threshold]</a>: Must be 0 or greater.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_time_function\" target=\"_blank\">terms[time_function]</a>: all, any.</p>\n\n"
      parameters:
      - name: policy_id
        in: path
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalServiceCondition'
            examples:
              PostalertsexternalserviceconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsExternalServiceConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  external_service_condition:
                    enabled: true
                    entities:
                    - {}
                    external_service_url: https://www.example.com
                    metric: example_value
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    type: example_value
          application/xml:
            schema:
              $ref: '#/components/schemas/ExternalServiceCondition'
            examples:
              PostalertsexternalserviceconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsExternalServiceConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  external_service_condition:
                    enabled: true
                    entities:
                    - {}
                    external_service_url: https://www.example.com
                    metric: example_value
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    type: example_value
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Postalertsexternalserviceconditionspoliciespolicyid200Example:
                  summary: Default postAlertsExternalServiceConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ExternalServiceConditionResponse'
              examples:
                Postalertsexternalserviceconditionspoliciespolicyid200Example:
                  summary: Default postAlertsExternalServiceConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    external_service_condition:
                      enabled: {}
                      entities: {}
                      external_service_url: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
      x-codegen-request-body-name: external_service_condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsExternalServiceConditionsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_location_failure_conditions/policies/{policy_id}.json:
    post:
      tags:
      - Post
      summary: New Relic Post Alerts Location Failure Conditions Policies
      description: '<strong>ðŸ”¥ This endpoint will be deprecated after 2024/01 ðŸ”¥</strong> New users should use <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>


        <hr>


        <p>This API endpoint allows you to create the alerts location failure conditions for your Alerts policy.</p>

        '
      parameters:
      - name: policy_id
        in: path
        description: Alerts policy failure condition
        required: true
        schema:
          type: integer
        example: 100
      - name: location_failure_condition
        in: path
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConditionResponse'
            examples:
              PostalertslocationfailureconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsLocationFailureConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    id: abc123
                    metric: example_value
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
          application/xml:
            schema:
              $ref: '#/components/schemas/ConditionResponse'
            examples:
              PostalertslocationfailureconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsLocationFailureConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  condition:
                    condition_scope: example_value
                    enabled: true
                    entities:
                    - {}
                    gc_metric: example_value
                    id: abc123
                    metric: example_value
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    type: example_value
                    violation_close_timer: 10
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Postalertslocationfailureconditionspoliciespolicyid200Example:
                  summary: Default postAlertsLocationFailureConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/ConditionResponse'
              examples:
                Postalertslocationfailureconditionspoliciespolicyid200Example:
                  summary: Default postAlertsLocationFailureConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    condition:
                      condition_scope: {}
                      enabled: {}
                      entities: {}
                      gc_metric: {}
                      id: {}
                      metric: {}
                      name: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      user_defined: {}
                      violation_close_timer: {}
      x-codegen-request-body-name: condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsLocationFailureConditionsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_nrql_conditions/policies/{policy_id}.json:
    post:
      tags:
      - Post
      summary: New Relic Post Alerts Nrql Conditions Policies
      description: 'ðŸ”¥ðŸ”¥ New users should use <a href="https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/">these docs about managing alerts via NerdGraph.</a>

        '
      parameters:
      - name: policy_id
        in: path
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NrqlCondition'
            examples:
              PostalertsnrqlconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsNrqlConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  nrql_condition:
                    enabled: true
                    expected_groups: 10
                    ignore_overlap: true
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    value_function: example_value
          application/xml:
            schema:
              $ref: '#/components/schemas/NrqlCondition'
            examples:
              PostalertsnrqlconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsNrqlConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  nrql_condition:
                    enabled: true
                    expected_groups: 10
                    ignore_overlap: true
                    name: Example Title
                    runbook_url: https://www.example.com
                    terms:
                    - {}
                    value_function: example_value
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Postalertsnrqlconditionspoliciespolicyid200Example:
                  summary: Default postAlertsNrqlConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/NrqlConditionResponse'
              examples:
                Postalertsnrqlconditionspoliciespolicyid200Example:
                  summary: Default postAlertsNrqlConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    nrql_condition:
                      enabled: {}
                      expected_groups: {}
                      id: {}
                      ignore_overlap: {}
                      name: {}
                      nrql: {}
                      runbook_url: {}
                      terms: {}
                      type: {}
                      value_function: {}
      x-codegen-request-body-name: nrql_condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsNrqlConditionsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_policies.json:
    post:
      tags:
      - Post
      summary: New Relic Post Alerts Policies
      description: "ðŸ”¥ðŸ”¥ New users should use <a href=\"https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/\">these docs about managing alerts via NerdGraph.</a>\n\n<p>This API endpoint works with new Alerts on alerts.newrelic.com.</p>\n\n<p>This Alerts API endpoint creates a policy associated with your New Relic account.</p>\n\n<p>Note: <a href=\"https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key\">Admin Userâ€™s API Key</a> is required.</p>\n\n<p>Rollup stategy options:</p>\n\n<ul>\n  <li>PER_POLICY</li>\n  <li>PER_CONDITION</li>\n  <li>PER_CONDITION_AND_TARGET</li>\n</ul>\n\n<p>See our documentation for a discussion on using the REST API for\n<a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#policies-create\" target=\"_blank\">creating new policies</a>.</p>\n\n"
      requestBody:
        description: Policy Schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy'
            examples:
              PostalertspoliciesRequestExample:
                summary: Default postAlertsPolicies request
                x-microcks-default: true
                value:
                  policy:
                    incident_preference: example_value
                    name: Example Title
          application/xml:
            schema:
              $ref: '#/components/schemas/Policy'
            examples:
              PostalertspoliciesRequestExample:
                summary: Default postAlertsPolicies request
                x-microcks-default: true
                value:
                  policy:
                    incident_preference: example_value
                    name: Example Title
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
              examples:
                Postalertspolicies200Example:
                  summary: Default postAlertsPolicies 200 response
                  x-microcks-default: true
                  value:
                    policy:
                      created_at: {}
                      id: {}
                      incident_preference: {}
                      name: {}
                      updated_at: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
              examples:
                Postalertspolicies200Example:
                  summary: Default postAlertsPolicies 200 response
                  x-microcks-default: true
                  value:
                    policy:
                      created_at: {}
                      id: {}
                      incident_preference: {}
                      name: {}
                      updated_at: {}
      x-codegen-request-body-name: policy
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsPolicies
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts_synthetics_conditions/policies/{policy_id}.json:
    post:
      tags:
      - Post
      summary: New Relic Post Alerts Synthetics Conditions Policies
      description: "ðŸ”¥ðŸ”¥ New users should use NRQL Alert Conditions, refer to <a href=\"https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples/\">these docs about managing alerts via NerdGraph.</a>\n\n<hr>\n\n<p>This API endpoint allows you to create Synthetics conditions for your alert policies.</p>\n\n<p>Note: <a href=\"https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key\">Admin Userâ€™s API Key</a> is required.</p>\n\n<p>See our documentation for a discussion on <a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#synthetics-conditions-create\" target=\"_blank\">creating Synthetic conditions</a>.</p>\n\n<p>All fields are required except for â€œrunbook_urlâ€\x9D, â€œenabledâ€\x9D (defaults to false).</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#name\" target=\"_blank\">name</a>: A title for your condition.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#monitor_id\" target=\"_blank\">monitor_id</a>: The GUID of the Synthetics monitor to alert on.</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#runbook_url\" target=\"_blank\">runbook_url</a>: Runbook URL to display in notifications (optional).</p>\n\n<p><a href=\"https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#enabled\" target=\"_blank\">enabled</a>: The status of your condition (optional).</p>\n"
      parameters:
      - name: policy_id
        in: path
        description: Alerts policy ID
        required: true
        schema:
          type: integer
        example: 100
      requestBody:
        description: Condition schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyntheticsCondition'
            examples:
              PostalertssyntheticsconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsSyntheticsConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  synthetics_condition:
                    enabled: true
                    monitor_id: '500123'
                    name: Example Title
                    runbook_url: https://www.example.com
          application/xml:
            schema:
              $ref: '#/components/schemas/SyntheticsCondition'
            examples:
              PostalertssyntheticsconditionspoliciespolicyidRequestExample:
                summary: Default postAlertsSyntheticsConditionsPoliciesPolicyId request
                x-microcks-default: true
                value:
                  synthetics_condition:
                    enabled: true
                    monitor_id: '500123'
                    name: Example Title
                    runbook_url: https://www.example.com
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyntheticsConditionResponse'
              examples:
                Postalertssyntheticsconditionspoliciespolicyid200Example:
                  summary: Default postAlertsSyntheticsConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    synthetics_condition:
                      enabled: {}
                      id: {}
                      monitor_id: {}
                      name: {}
                      runbook_url: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/SyntheticsConditionResponse'
              examples:
                Postalertssyntheticsconditionspoliciespolicyid200Example:
                  summary: Default postAlertsSyntheticsConditionsPoliciesPolicyId 200 response
                  x-microcks-default: true
                  value:
                    synthetics_condition:
                      enabled: {}
                      id: {}
                      monitor_id: {}
                      name: {}
                      runbook_url: {}
      x-codegen-request-body-name: synthetics_condition
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: postAlertsSyntheticsConditionsPoliciesPolicyId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SyntheticsCondition:
      type: object
      properties:
        synthetics_condition:
          $ref: '#/components/schemas/SyntheticsConditionBody'
    NrqlConditionBody:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
        expected_groups:
          type: integer
          example: 100
        ignore_overlap:
          type: boolean
          example: true
        name:
          type: string
          example: example-resource-01
        nrql:
          $ref: '#/components/schemas/NrqlBody'
        runbook_url:
          type: string
          example: https://portal.example.com/path/abc123
        terms:
          type: array
          items:
            $ref: '#/components/schemas/IJKTermsType'
          example:
          - duration: example_string
            operator: example_string
            priority: example_string
            threshold: example_string
            time_function: example_string
        value_function:
          type: string
          example: example_string
    ChannelBody:
      type: object
      properties:
        configuration:
          type: object
          properties: {}
          example: {}
        name:
          type: string
          example: example-resource-01
        type:
          type: string
          example: standard
    NrqlConditionResponse:
      type: object
      properties:
        nrql_condition:
          $ref: '#/components/schemas/NrqlConditionResponseType'
    NrqlBody:
      type: object
      properties:
        query:
          type: string
          example: example_string
        since_value:
          type: string
          example: example_string
    DeploymentLinksResponse:
      type: object
      properties:
        application:
          type: integer
          example: 100
    PolicyResponse:
      type: object
      properties:
        policy:
          $ref: '#/components/schemas/PolicyResponseType'
    ChannelResponseType:
      type: object
      properties:
        configuration:
          type: object
          properties: {}
          example: {}
        id:
          type: integer
          example: 100
        links:
          $ref: '#/components/schemas/ChannelLinksResponse'
        name:
          type: string
          example: example-resource-01
        type:
          type: string
          example: standard
    SyntheticsConditionResponseType:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
        id:
          type: integer
          example: 100
        monitor_id:
          type: string
          example: '500123'
        name:
          type: string
          example: example-resource-01
        runbook_url:
          type: string
          example: https://portal.example.com/path/abc123
    ExternalServiceConditionResponseType:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
        entities:
          type: array
          items:
            type: integer
          example:
          - 100
        external_service_url:
          type: string
          example: https://portal.example.com/path/abc123
        id:
          type: integer
          example: 100
        metric:
          type: string
          example: example_string
        name:
          type: string
          example: example-resource-01
        runbook_url:
          type: string
          example: https://portal.example.com/path/abc123
        terms:
          type: array
          items:
            $ref: '#/components/schemas/IJKTermsType'
          example:
          - duration: example_string
            operator: example_string
            priority: example_string
            threshold: example_string
            time_function: example_string
        type:
          type: string
          example: standard
    ConditionResponse:
      type: object
      properties:
        condition:
          $ref: '#/components/schemas/ConditionResponseType'
    IJKTermsType:
      type: object
      properties:
        duration:
          type: string
          example: example_string
        operator:
          type: string
          example: example_string
        priority:
          type: string
          example: example_string
        threshold:
          type: string
          example: example_string
        time_function:
          type: string
          example: example_string
    SyntheticsConditionBody:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
        monitor_id:
          type: string
          example: '500123'
        name:
          type: string
          example: example-resource-01
        runbook_url:
          type: string
          example: https://portal.example.com/path/abc123
    ConditionBody:
      type: object
      properties:
        condition_scope:
          type: string
          example: example_string
        enabled:
          type: boolean
          example: true
        entities:
          type: array
          items:
            type: integer
          example:
          - 100
        gc_metric:
          type: string
          example: example_string
        metric:
          type: string
          example: example_string
        name:
          type: string
          example: example-resource-01
        terms:
          type: array
          items:
            $ref: '#/components/schemas/IJKTermsType'
          example:
          - duration: example_string
            operator: example_string
            priority: example_string
            threshold: example_string
            time_function: example_string
        type:
          type: string
          example: standard
        user_defined:
          $ref: '#/components/schemas/UserDefinedConditionBody'
        violation_close_timer:
          type: integer
          example: 1718153645993
    ExternalServiceConditionResponse:
      type: object
      properties:
        external_service_condition:
          $ref: '#/components/schemas/ExternalServiceConditionResponseType'
    DeploymentResponse:
      type: object
      properties:
        deployment:
          $ref: '#/components/schemas/DeploymentResponseType'
    ExternalServiceConditionBody:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
        entities:
          type: array
          items:
            type: integer
          example:
          - 100
        external_service_url:
          type: string
          example: https://portal.example.com/path/abc123
        metric:
          type: string
          example: example_string
        name:
          type: string
          example: example-resource-01
        runbook_url:
          type: string
          example: https://portal.example.com/path/abc123
        terms:
          type: array
          items:
            $ref: '#/components/schemas/IJKTermsType'
          example:
          - duration: example_string
            operator: example_string
            priority: example_string
            threshold: example_string
            time_function: example_string
        type:
          type: string
          example: standard
    PolicyBody:
      type: object
      properties:
        incident_preference:
          type: string
          example: '500123'
        name:
          type: string
          example: example-resource-01
    DeploymentBody:
      type: object
      properties:
        changelog:
          type: string
          example: example_string
        description:
          type: string
          example: example_string
        revision:
          type: string
          example: example_string
        user:
          type: string
          example: example_string
    NrqlResponse:
      type: object
      properties:
        query:
          type: string
          example: example_string
        since_value:
          type: string
          example: example_string
    ChannelResponse:
      type: object
      properties:
        channel:
          $ref: '#/components/schemas/ChannelResponseType'
    Condition:
      type: object
      properties:
        condition:
          $ref: '#/components/schemas/ConditionBody'
    NrqlCondition:
      type: object
      properties:
        nrql_condition:
          $ref: '#/components/schemas/NrqlConditionBody'
    SyntheticsConditionResponse:
      type: object
      properties:
        synthetics_condition:
          $ref: '#/components/schemas/SyntheticsConditionResponseType'
    UserDefinedConditionBody:
      type: object
      properties:
        metric:
          type: string
          example: example_string
        value_function:
          type: string
          example: example_string
    ExternalServiceCondition:
      type: object
      properties:
        external_service_condition:
          $ref: '#/components/schemas/ExternalServiceConditionBody'
    ChannelLinksResponse:
      type: object
      properties:
        policy_ids:
          type: array
          items:
            type: integer
          example:
          - 100
    PolicyResponseType:
      type: object
      properties:
        created_at:
          type: integer
          example: 100
        id:
          type: integer
          example: 100
        incident_preference:
          type: string
          example: '500123'
        name:
          type: string
          example: example-resource-01
        updated_at:
          type: integer
          example: 100
    NrqlConditionResponseType:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
        expected_groups:
          type: integer
          example: 100
        id:
          type: integer
          example: 100
        ignore_overlap:
          type: boolean
          example: true
        name:
          type: string
          example: example-resource-01
        nrql:
          $ref: '#/components/schemas/NrqlResponse'
        runbook_url:
          type: string
          example: https://portal.example.com/path/abc123
        terms:
          type: array
          items:
            $ref: '#/components/schemas/IJKTermsType'
          example:
          - duration: example_string
            operator: example_string
            priority: example_string
            threshold: example_string
            time_function: example_string
        type:
          type: string
          example: standard
        value_function:
          type: string
          example: example_string
    Deployment:
      type: object
      properties:
        deployment:
          $ref: '#/components/schemas/DeploymentBody'
    Policy:
      type: object
      properties:
        policy:
          $ref: '#/components/schemas/PolicyBody'
    UserDefinedConditionResponse:
      type: object
      properties:
        metric:
          type: string
          example: example_string
        value_function:
          type: string
          example: example_string
    DeploymentResponseType:
      type: object
      properties:
        changelog:
          type: string
          example: example_string
        description:
          type: string
          example: example_string
        id:
          type: integer
          example: 100
        links:
          $ref: '#/components/schemas/DeploymentLinksResponse'
        revision:
          type: string
          example: example_string
        timestamp:
          type: string
          format: date-time
          example: '2026-04-18T14:30:00Z'
        user:
          type: string
          example: example_string
    Channel:
      type: object
      properties:
        channel:
          $ref: '#/components/schemas/ChannelBody'
    ConditionResponseType:
      type: object
      properties:
        condition_scope:
          type: string
          example: example_string
        enabled:
          type: boolean
          example: true
        entities:
          type: array
          items:
            type: integer
          example:
          - 100
        gc_metric:
          type: string
          example: example_string
        id:
          type: integer
          example: 100
        metric:
          type: string
          example: example_string
        name:
          type: string
          example: example-resource-01
        runbook_url:
          type: string
          example: https://portal.example.com/path/abc123
        terms:
          type: array
          items:
            $ref: '#/components/schemas/IJKTermsType'
          example:
          - duration: example_string
            operator: example_string
            priority: example_string
            threshold: example_string
            time_function: example_string
        type:
          type: string
          example: standard
        user_defined:
          $ref: '#/components/schemas/UserDefinedConditionResponse'
        violation_close_timer:
          type: integer
          example: 1718153645993
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Api-Key
      description: New Relic License Key or Ingest API Key
externalDocs:
  description: New Relic Event API Documentation
  url: https://docs.newrelic.com/docs/data-apis/ingest-apis/event-api/introduction-event-api/
