openapi: 3.1.0
info:
  title: New Relic Event Alerts Mobile API
  description: The New Relic Event API allows you to send custom event data to the New Relic platform via HTTP POST. Custom events submitted through this API can be queried and visualized using NRQL, making it suitable for tracking arbitrary business or application events. Each event is a JSON object with an eventType and any number of additional attribute key-value pairs.
  version: '1'
  contact:
    name: New Relic Support
    url: https://support.newrelic.com/
  termsOfService: https://newrelic.com/termsandconditions/terms
  x-last-validated: '2026-04-18'
servers:
- url: https://insights-collector.newrelic.com
  description: US Production
- url: https://insights-collector.eu01.nr-data.net
  description: EU Production
security:
- apiKey: []
tags:
- name: Mobile
paths:
  /mobile_applications.json:
    get:
      tags:
      - Mobile
      summary: New Relic Get Mobile Applications
      description: '<p>This API endpoint returns a list of the Mobile Applications associated with your New Relic account.</p>


        <p>MobileApplications can be filtered by their name, or by the application IDs.</p>

        '
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileApplicationResponse'
              examples:
                Getmobileapplications200Example:
                  summary: Default getMobileApplications 200 response
                  x-microcks-default: true
                  value:
                    application:
                      crash_summary: {}
                      health_status: {}
                      id: {}
                      mobile_summary: {}
                      name: {}
                      reporting: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/MobileApplicationResponse'
              examples:
                Getmobileapplications200Example:
                  summary: Default getMobileApplications 200 response
                  x-microcks-default: true
                  value:
                    application:
                      crash_summary: {}
                      health_status: {}
                      id: {}
                      mobile_summary: {}
                      name: {}
                      reporting: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getMobileApplications
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /mobile_applications/{id}.json:
    get:
      tags:
      - Mobile
      summary: New Relic Get Mobile Applications
      description: '<p>This API endpoint returns a single Mobile Application, identified by ID. The time range for summary data is the last 30 minutes.</p>

        '
      parameters:
      - name: id
        in: path
        description: Mobile Application ID
        required: true
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileApplicationResponse'
              examples:
                Getmobileapplicationsid200Example:
                  summary: Default getMobileApplicationsId 200 response
                  x-microcks-default: true
                  value:
                    application:
                      crash_summary: {}
                      health_status: {}
                      id: {}
                      mobile_summary: {}
                      name: {}
                      reporting: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/MobileApplicationResponse'
              examples:
                Getmobileapplicationsid200Example:
                  summary: Default getMobileApplicationsId 200 response
                  x-microcks-default: true
                  value:
                    application:
                      crash_summary: {}
                      health_status: {}
                      id: {}
                      mobile_summary: {}
                      name: {}
                      reporting: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getMobileApplicationsId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /mobile_applications/{mobile_application_id}/metrics.json:
    get:
      tags:
      - Mobile
      summary: New Relic Get Mobile Applications Mobile Application Metrics
      description: '<p>Return a list of known metrics and their value names for the given resource.</p>


        <p>See our documentation for a discussion

        on <a href="https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/pagination-api-output" target="_blank"> output pagination</a>

        and for examples of <a href="https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/new-relic-rest-api-v2-getting-started#examples" target="_blank">requesting and using metric values</a>.</p>

        '
      parameters:
      - name: mobile_application_id
        in: path
        description: Mobile application ID
        required: true
        schema:
          type: integer
        example: 100
      - name: name
        in: query
        description: Filter metrics by name
        schema:
          type: string
        example: example-resource-01
      - name: page
        in: query
        description: Pagination index (will be deprecated)
        schema:
          type: integer
        example: 100
      - name: cursor
        in: query
        description: Cursor for next page (replacing page param)
        schema:
          type: string
        example: example_string
      responses:
        '200':
          description: No response was specified
          headers:
            link:
              description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page and `last` to the last page, unless this page is itself the last page.

                '
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricParserResponse'
              examples:
                Getmobileapplicationsmobileapplicationidmetrics200Example:
                  summary: Default getMobileApplicationsMobileApplicationIdMetrics 200 response
                  x-microcks-default: true
                  value:
                    metric:
                      name: {}
                      values: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/MetricParserResponse'
              examples:
                Getmobileapplicationsmobileapplicationidmetrics200Example:
                  summary: Default getMobileApplicationsMobileApplicationIdMetrics 200 response
                  x-microcks-default: true
                  value:
                    metric:
                      name: {}
                      values: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getMobileApplicationsMobileApplicationIdMetrics
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /mobile_applications/{mobile_application_id}/metrics/data.json:
    get:
      tags:
      - Mobile
      summary: New Relic Get Mobile Applications Mobile Application Metrics Data
      description: '<p>This API endpoint returns a list of values for each of the requested metrics. The list of available metrics

        can be returned using the Metric Name API endpoint.</p>


        <p>Metric data can be filtered by a number of parameters, including multiple names and values, and by time range.

        Metric names and values will be matched intelligently in the background.</p>


        <p>You can also retrieve a summarized data point across the entire time range selected by using the summarize

        parameter.</p>


        <p>See our documentation for a discussion on <a href="https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/pagination-api-output" target="_blank">

        output pagination</a>, <a href="https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/extracting-metric-data" target="_blank"> time range</a>

        related considerations, and for examples of <a href="https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/new-relic-rest-api-v2-getting-started#examples" target="_blank">requesting and using metric values</a>.</p>


        '
      parameters:
      - name: mobile_application_id
        in: path
        description: Mobile application ID
        required: true
        schema:
          type: integer
        example: 100
      - name: names
        in: query
        description: Retrieve specific metrics by name
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - example_string
      - name: values
        in: query
        description: Retrieve specific metric values
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - example_string
      - name: from
        in: query
        description: Retrieve metrics after this time
        schema:
          type: string
          format: date-time
        example: '2026-04-18T14:30:00Z'
      - name: to
        in: query
        description: Retrieve metrics before this time
        schema:
          type: string
          format: date-time
        example: '2026-04-18T14:30:00Z'
      - name: period
        in: query
        description: Period of timeslices in seconds
        schema:
          type: integer
        example: 100
      - name: summarize
        in: query
        description: Summarize the data
        schema:
          type: boolean
        example: true
      - name: raw
        in: query
        description: Return unformatted raw values
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricDataResponse'
              examples:
                Getmobileapplicationsmobileapplicationidmetricsdata200Example:
                  summary: Default getMobileApplicationsMobileApplicationIdMetricsData 200 response
                  x-microcks-default: true
                  value:
                    metric_data:
                      from: {}
                      metrics: {}
                      metrics_found: {}
                      metrics_not_found: {}
                      to: {}
            application/xml:
              schema:
                $ref: '#/components/schemas/MetricDataResponse'
              examples:
                Getmobileapplicationsmobileapplicationidmetricsdata200Example:
                  summary: Default getMobileApplicationsMobileApplicationIdMetricsData 200 response
                  x-microcks-default: true
                  value:
                    metric_data:
                      from: {}
                      metrics: {}
                      metrics_found: {}
                      metrics_not_found: {}
                      to: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        GenerateOperationSummariesFromPath: true
        ChooseTags: true
      operationId: getMobileApplicationsMobileApplicationIdMetricsData
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MetricParserResponseType:
      type: object
      properties:
        name:
          type: string
          example: example-resource-01
        values:
          type: array
          items:
            type: string
          example:
          - example_string
    MobileApplicationResponse:
      type: object
      properties:
        application:
          $ref: '#/components/schemas/MobileApplicationResponseType'
    TimesliceResponse:
      type: object
      properties:
        from:
          type: string
          format: date-time
          example: '2026-04-18T14:30:00Z'
        to:
          type: string
          format: date-time
          example: '2026-04-18T14:30:00Z'
        values:
          type: object
          properties: {}
          example: {}
    MetricDataResponseType:
      type: object
      properties:
        from:
          type: string
          format: date-time
          example: '2026-04-18T14:30:00Z'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/MetricResponse'
          example:
          - name: example-resource-01
            timeslices:
            - {}
        metrics_found:
          type: string
          example: example_string
        metrics_not_found:
          type: string
          example: example_string
        to:
          type: string
          format: date-time
          example: '2026-04-18T14:30:00Z'
    MobileSummaryDataResponse:
      type: object
      properties:
        active_users:
          type: integer
          example: 100
        calls_per_session:
          type: number
          format: float
          example: 42.5
        failed_call_rate:
          type: number
          format: float
          example: 12.3
        interaction_time:
          type: number
          format: float
          example: 42.5
        launch_count:
          type: integer
          example: 42
        remote_error_rate:
          type: number
          format: float
          example: 12.3
        response_time:
          type: number
          format: float
          example: 42.5
        throughput:
          type: number
          format: float
          example: 42.5
    MobileApplicationResponseType:
      type: object
      properties:
        crash_summary:
          $ref: '#/components/schemas/CrashSummaryResponse'
        health_status:
          type: string
          example: active
        id:
          type: integer
          example: 100
        mobile_summary:
          $ref: '#/components/schemas/MobileSummaryDataResponse'
        name:
          type: string
          example: example-resource-01
        reporting:
          type: boolean
          example: true
    CrashSummaryResponse:
      type: object
      properties:
        crash_count:
          type: integer
          example: 42
        crash_rate:
          type: number
          format: float
          example: 12.3
        supports_crash_data:
          type: boolean
          example: true
        unresolved_crash_count:
          type: integer
          example: 42
    MetricResponse:
      type: object
      properties:
        name:
          type: string
          example: example-resource-01
        timeslices:
          type: array
          items:
            $ref: '#/components/schemas/TimesliceResponse'
          example:
          - from: '2026-04-18T14:30:00Z'
            to: '2026-04-18T14:30:00Z'
            values: {}
    MetricParserResponse:
      type: object
      properties:
        metric:
          $ref: '#/components/schemas/MetricParserResponseType'
    MetricDataResponse:
      type: object
      properties:
        metric_data:
          $ref: '#/components/schemas/MetricDataResponseType'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Api-Key
      description: New Relic License Key or Ingest API Key
externalDocs:
  description: New Relic Event API Documentation
  url: https://docs.newrelic.com/docs/data-apis/ingest-apis/event-api/introduction-event-api/
